[2017-07-12 15:38] pavolloffay opened #3 "Trace requests made by Feign client"
Create auto-configuration for https://github.com/OpenFeign/feign-opentracing.

Auto configuration should instrument all interfaces annotated with `@FeignClient` but also clients created manually. HystrixFeign should be also supported.

Some links:
* docs http://cloud.spring.io/spring-cloud-netflix/spring-cloud-netflix.html#spring-cloud-feign

[2017-07-12 15:41] pavolloffay opened #4 "Trace RxJava"
Create auto-configuration which would trace RxJava. This https://github.com/opentracing-contrib/java-rxjava instrumentation should be reused.

[2017-07-12 15:49] pavolloffay opened #5 "Trace messaging"
Trace `org.springframework.messaging.MessageChannel`

[2017-07-12 16:05] tedsuo commented on #3
BTW I think @malafeev was poking at this here: https://github.com/malafeev/spring-cloud-opentracing

[2017-07-12 16:05] malafeev commented on #3
https://github.com/malafeev/spring-cloud-opentracing/blob/master/spring-cloud/src/main/java/io/opentracing/contrib/springcloud/TracingFeignClientAutoConfiguration.java

[2017-07-12 16:06] malafeev commented on #4
https://github.com/malafeev/spring-cloud-opentracing/blob/master/spring-cloud/src/main/java/io/opentracing/contrib/springcloud/TracingRxAutoConfiguration.java

[2017-07-13 08:32] pavolloffay opened #6 "Trace Ribbon ping requests"
`RestTemplate` instances annotated with `@LoadBalanced` are traced, however ping requests made by Ribbon are not.

https://github.com/opentracing-contrib/java-spring-cloud/pull/2#issuecomment-315008613

[2017-07-13 08:58] pavolloffay commented on #3
I have also done some experiments https://github.com/opentracing-contrib/java-spring-cloud/compare/master...pavolloffay:feign-poc?expand=1

[2017-07-14 08:22] malafeev commented on #3
@pavolloffay cool, how about pull request?

[2017-07-14 08:29] pavolloffay commented on #3
I was hoping that you will look at it :)

[2017-07-14 08:48] malafeev commented on #3
It looks similar to my approach except
[code]

Should user manually enable hystrix?

[2017-07-14 08:50] pavolloffay commented on #3
No, we want everything to be done automatically. By default users just provide a tracer bean.

[2017-07-14 08:52] malafeev commented on #3
ok, so you will add `TracingConcurrencyStrategy.register(tracer);` to auto configuration?

[2017-07-14 09:01] malafeev commented on #3
please look at https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-core/src/main/java/org/springframework/cloud/netflix/feign/FeignClientFactoryBean.java#L211

Tracing client will be overridden. That's why I created decorated builder with :
[code]

[2017-07-14 09:07] malafeev commented on #3
in parent pom:
[code]

Why not `1.5.4.RELEASE` ?

[2017-07-14 14:24] pavolloffay commented on #3
I wanted to start with an older version to support more users. We can pump it later once this with 1.4. is released. Do you have a specific reason for 1.5.x?

[2017-07-14 14:31] malafeev commented on #3
No, the latest - the greatest :)

[2017-07-19 08:07] pavolloffay commented on #3
I started looking into this.

[2017-07-19 15:43] malafeev opened #8 "Trace zuul"
- The proxy uses Ribbon to locate an instance to forward to via discovery, and all requests are executed in a hystrix command
- The default HTTP client used by zuul is now backed by the Apache HTTP Client instead of the deprecated Ribbon RestClient. To use RestClient or to use the okhttp3.OkHttpClient set ribbon.restclient.enabled=true or ribbon.okhttp.enabled=true respectively.

[2017-07-20 07:58] pavolloffay opened #11 "Trace hystrix commands"

[2017-07-20 08:01] pavolloffay opened #12 "Trace spring-cloud-stream"
https://docs.spring.io/spring-cloud-stream/docs/current/reference/htmlsingle/

[2017-07-20 08:03] pavolloffay commented on #6
My impression is that this won't be necessary as it does not bring an observability to the system.

[2017-07-21 10:56] pavolloffay opened #13 "Introduce starter artifact"
We might consider adding a starter artifact to align with spring convention.

cc @alesj @cmoulliard

[2017-07-21 11:08] pavolloffay opened #14 "Improve integration tests"
Instrumentation artifact should not pull any dependencies if users do not explicitly specify it.

We are currently using the optional scope for any 3rd party deps except instrumentation artifacts. Instrumentation artifacts (e.g. `feign-hystrix-opentracing`) are compile scope and exclude their dependencies (e.g. `feign-core`).

We should consider adding tests to address
* by default artifact should

[2017-07-24 12:50] alesj commented on #13
@pavolloffay I guess it doesn't hurt to follow that convention. :-)

[2017-07-31 10:05] objectiser opened #17 "How to access a Tracer"
Not necessarily an issue, but just want to clarify how best to make a Tracer available to various spring and non-spring based instrumentations.

To set the context, the OT java API provides a utility called GlobalTracer to allow independent instrumentation code to access a singleton tracer. In spring based apps, the preferred approach is to be able to inject a Tracer.

Where auto-config is used to

[2017-07-31 10:30] pavolloffay commented on #17
As you mentioned the preferred way in spring is to inject via spring context.

All good instrumentations should support passing a tracer instance as object and not relay only on `GlobalTracer`.

[2017-07-31 10:42] pavolloffay commented on #17
I would like to keep the lib as simple as possible if there will be a request to bind the tracer to `GlobalTracer` then we could re-review and see what is necessary to make it work properly.

[2017-07-31 10:57] objectiser commented on #17
Ok sounds reasonable - and also simplifies things for now.

So I don't think the current `TracerAutoConfiguration` needs to change to reference the `GlobalTracer` - as essentially with the spring ecosystem we are not going to use the `GlobalTracer`. So this auto-config is providing the fallback to obtain a tracer if no other bean has been provided.

It might be a good idea for this auto-config to

[2017-08-01 09:09] #3 closed

[2017-08-01 13:26] malafeev opened #19 "Hystrix uses RxJava"
Because Hystrix internally uses RxJava it introduce some problems.
If RxJava instrumentation is enabled (via auto configuration) then Hystrix (and feign-hystrix) traces include RxJava spans.
All hystrix-feign tests fails because instead of one finished spans there tens of finished spans.

[2017-08-01 13:34] pavolloffay commented on #19
I think we can discuss this on #7. In sleuth there is an option which disables tracing of specific threads.

[2017-08-01 13:36] #19 closed

[2017-08-03 14:41] pavolloffay commented on #14
I didn't find a way how to set/restrict classpath in spring boot tests. Generally we could use profiles or modules.

## Profiles
Tests could live in starter module. There will be two profiles per integration. For instance Feign:
* one profile would include dependency `spring-cloud-starter-feign` and test if feign tracing works (very simple)
* second profile would not include this dependency and fa

[2017-08-03 15:27] alesj commented on #14
@pavolloffay modules?

[2017-08-03 15:34] pavolloffay commented on #14
yes sub-artifacts

[2017-08-04 09:48] jpkrohling commented on #14
Modules == Maven Modules, I suppose. Ideally, it would be possible to customize the SpringBoot classpath in the integration tests, but if it's not possible, then yes, splitting each case into a maven module might be a good solution. I think this is actually how the class-loading tests for `jboss-ejb3` tests are/were executed.

[2017-08-08 07:35] pavolloffay opened #25 "Trace websockets"

[2017-08-08 07:48] pavolloffay commented on #5
This integration should trace all messaging platforms supported by Spring:

* JmsTemplate
* KafkaTemplate https://projects.spring.io/spring-kafka/
* RabbitTemplate https://projects.spring.io/spring-amqp/
* AmqpTemplate https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-messaging.html#boot-features-using-amqp-sending

In sleuth messaging is reused for tracing WebSockets (

[2017-08-08 08:11] pavolloffay opened #26 "Documentation, what is traced and configured"
Write a simple documentation for parts where some explanation is needed. For example `RestTemplate`s  are traced only when they are injected as beans (and it's a default way how to access it in spring), however some might ask why manually created `RestTemplate`s are not traced.

At the beginning, we could just use Readme in `opentracing-spring-cloud` directory.

[2017-08-08 08:40] pavolloffay commented on #8
@malafeev would you like to have a look at this?

[2017-08-08 08:49] malafeev commented on #8
I briefly looked at it and not sure that it is not covered by spring web instrumentation

[2017-08-08 08:57] pavolloffay commented on #8
It would be worth to investigate and describe it here (what is covered and what should be done)

[2017-08-08 10:01] pavolloffay opened #27 "Trace JDBC"
Links:
* https://github.com/gavlyukovskiy/spring-boot-data-source-decorator
* https://github.com/opentracing-contrib/java-jdbc

[2017-08-08 11:53] #13 closed

[2017-08-09 14:42] objectiser opened #29 "Initialization of the Tracer within java-spring-cloud"
Ideally there should be a way, possibly as part of the starter, to initialize the `Tracer` based on a set of defined steps.

For example,
1) If the application has provided their own `Tracer` bean, then it should take precedence over any other option, and be registered with the `GlobalTracer` (for use by other non-spring instrumentations)
2) If no application provided bean is available, and the `T

[2017-08-09 16:17] pavolloffay commented on #29
This is also related to https://github.com/opentracing-contrib/java-spring-cloud/issues/17.

I don't like this because it completely skips a way of providing a tracer via `GlobalTracer` which is a supported way of propagating the tracer by OpenTracing API.

More sense to me makes this precedence:
1. tracer bean
2. if there is no tracer bean get the tracer from `GlobalTracer` (if registered)
3. if

[2017-08-11 10:41] #29 closed

[2017-08-11 11:25] pavolloffay commented on #17
fixed via https://github.com/opentracing-contrib/java-spring-web/pull/30

[2017-08-11 11:25] #17 closed

[2017-08-11 12:18] pavolloffay opened #31 "Define a way how to disable specific instrumentation"
`opentracing-spring-cloud-starter` instruments all artifacts what are on classpath. It might be useful to have more control and disable instrumentation with property e.g. `opentracing.spring.cloud.feign=false`

[2017-08-11 13:00] pavolloffay commented on #5
Reopened, it's not done completely.

[2017-08-29 18:18] pavolloffay opened #35 "Trace async"
* trace `org.springframework.scheduling.annotation.Async`
* wrap `org.springframework.scheduling.annotation.AsyncConfigurer` with traced alternative

[2017-08-30 05:53] pavolloffay commented on #31
fixed in #34

[2017-08-30 05:53] #31 closed

[2017-08-30 10:15] pavolloffay commented on #5
Currently, only `artemis` and `activemq` are supported. We need to implement `rabbitmq` integration for `RabbitTemplate` and `AmqpTemplate` and also kafka.

[2017-08-31 08:58] #14 closed

[2017-08-31 09:07] #27 closed

[2017-08-31 12:56] pavolloffay commented on #12
Note that this is also related to #5 but it's a higher level API/abstraction. I am not sure whether current #5 would work (at least for artemis spring-stream binding). This needs to be investigated.

[2017-09-02 00:31] kameshsampath commented on #35
if you see my open issue https://github.com/opentracing-contrib/java-concurrent/issues/3, we need to handle getting chaining going inside the threads as well

[2017-09-02 12:06] pavolloffay commented on #35
This task is exactly about that, it will just propagate the parent span to new threads.

[2017-09-04 07:40] pavolloffay opened #39 "Verify that JDBC tracing works in spring-data-jpa"
[spring-data](http://projects.spring.io/spring-data/) is popular data-access framework. This task should verify that our current JDBC instrumentation works with https://docs.spring.io/spring-data/jpa/docs/1.11.6.RELEASE/reference/html/.

related to #27, #38

[2017-09-04 09:24] malafeev opened #40 "Document which Spring Cloud release is supported"
Spring Cloud has several release trains:
- Camden.*
- Brixton.*
- Dalston.*
etc.

README doesn't say anything about supported train.
Is it safe to add instrumentation to any release?
It will not introduce jar hell if I will add it to existing spring cloud app of any version?

I expect that all versions should come from

[code]

[2017-09-04 09:46] jpkrohling commented on #39
I can take a look at this in a couple weeks time, unless someone else wants to check it first.

[2017-09-04 09:57] pavolloffay commented on #40
Currently this repo instruments only spring boot core deps (like web, jms, jdbc) and `sprig-cloud-netflix`.

`spring-cloud-netflix-dependencies` is part of `spring-cloud-dependencies`
https://github.com/spring-cloud/spring-cloud-release/blob/master/spring-cloud-dependencies/pom.xml#L26

We could depend on `spring-cloud-dependencies` (and test different versions using travis stages) or depend on it

[2017-09-05 14:44] #40 closed

[2017-09-06 14:43] pavolloffay commented on #39
We could also have some tests for JPA

[2017-09-08 11:47] pavolloffay commented on #39
We should also verify that our instrumentation works with spring-data-rest https://projects.spring.io/spring-data-rest/

[2017-09-11 14:02] malafeev commented on #8
I'm working on that

[2017-09-11 14:58] pavolloffay opened #45 "Trace @Scheduled"
https://docs.spring.io/spring/docs/current/spring-framework-reference/html/scheduling.html#scheduling-annotation-support-scheduled

might be related to #35

[2017-09-14 08:05] pavolloffay opened #48 "Integration test with Spring Boot Actuator"
Test this library with Spring Boot Actuator https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#production-ready.

We should probably disable tracing for actuator endpoints. And maybe do other adjustments if needed.

[2017-09-14 08:14] pavolloffay commented on #12
Linking with jira issue https://issues.jboss.org/browse/SB-182

[2017-09-14 08:36] kameshsampath opened #50 "Add instrumentation support for Hystrix"
Support to propagate the spans across threads when using spring where javanica @HystrixCommand annotations are used

[2017-09-14 08:51] pavolloffay commented on #50
I think this is a duplicate of #11. Closing.

[2017-09-14 08:51] #50 closed

[2017-09-20 14:50] #35 closed

[2017-09-20 16:36] pavolloffay commented on #11
Done in https://github.com/opentracing-contrib/java-spring-cloud/pull/55. It propagates parent span to hystrix commands. If users want to submit custom command and trace it they have to implement `TracedCommand`

[2017-09-20 16:36] #11 closed

[2017-09-21 07:27] pavolloffay commented on #12
Now, this is the biggest missing part and it's free to take.

[2017-09-21 08:27] pavolloffay commented on #8
Fixed in #47

[2017-09-21 08:28] #8 closed

[2017-09-21 08:35] malafeev commented on #12
I take it :)

[2017-09-22 13:06] malafeev commented on #12
1. More correct name is Spring Integration Tracing
2. Sleuth instrumentation is based on global `ChannelInterceptor`.
But the problem that if `MessageChannel` is not `PollableChannel`
then message receiving is not intercepted by `ChannelInterceptor` and therefore
only producer is traced.
Probably Kafka and RabbitMQ binders uses `PollableChannel`,
but in general approach looks 50% corect.

[2017-09-25 08:34] malafeev commented on #5
if  method with `@JmsListener` annotation has argument different than `javax.jms.Message`
then `JmsListenerAspect` doesn't intercept a call and tracing is not working for such consumer.

[2017-09-25 08:37] pavolloffay commented on #12
There is also Artemis binder https://github.com/snowdrop/spring-cloud-stream-binder-artemis.

A simple example SB with sleuth and stream API would be helpful (for both kafka and rabbit).

@kameshsampath could you please share some details how the tracing is done in https://github.com/redhat-developer-demos/brewery app? How the tracing works there? Does it trace in-bound+out-bound messages?

[2017-09-25 08:40] pavolloffay commented on #5
@malafeev  thanks, we should fix it. Can you provide examples of methods annotated with `@JmsListener`?

cc @alesj

[2017-09-25 08:42] malafeev commented on #5
https://docs.spring.io/spring/docs/current/spring-framework-reference/html/jms.html#jms-annotated

[2017-09-25 16:04] objectiser opened #58 "RFC: Should spans be reported for websocket client connections"
When instrumenting a service using websockets, it also reports spans for the HTTP communications to establish the inbound and outbound connections: https://github.com/opentracing-contrib/java-spring-cloud/pull/53#issuecomment-331924207

Options:
* Leave as is, and use this information to know when and how many connections are being made. If so - might be good to see if websocket message spans can

[2017-09-26 14:00] #25 closed

[2017-09-28 07:20] alesj commented on #5
@pavolloffay @malafeev hmmm, that's a bit trickier to handle, as you need to somehow get your hands on the actual JMS Message instance.
But I'll have a look to see what can be done.

[2017-10-03 14:28] gytis commented on #12
@malafeev how is the issue going? Maybe I can help?

[2017-10-03 14:34] malafeev commented on #12
@gytis it would be great.
My idea was to take interceptor from sleuth and adopt it for opentracing.
But I cannot understand why `preSend` method of interceptor is used to create **incoming** and **outgoing** spans.

[2017-10-04 07:33] gytis commented on #12
@malafeev do you have any code which I could start with? And maybe some testing application?

[2017-10-04 08:59] malafeev commented on #12
I lost it with my laptop :(

[2017-10-04 09:03] gytis commented on #12
Sorry to hear that :/ What is the IM tool and channel you usually use in case I have questions?

[2017-10-04 09:06] malafeev commented on #12
hm, I'm on gitter, but don't like it.
you can post questions here.

[2017-10-04 09:21] malafeev commented on #12
you can look at:
https://github.com/spring-cloud/spring-cloud-sleuth/blob/master/spring-cloud-sleuth-core/src/main/java/org/springframework/cloud/sleuth/instrument/messaging/TraceChannelInterceptor.java

https://github.com/spring-cloud/spring-cloud-sleuth/blob/master/spring-cloud-sleuth-core/src/main/java/org/springframework/cloud/sleuth/instrument/messaging/TraceSpringIntegrationAutoConfiguration

[2017-10-09 15:26] malafeev commented on #12
@gytis any luck?

[2017-10-10 07:33] gytis commented on #12
@malafeev I'm working on it this week. At the moment, I'm gong through the existing code of both open tracing and zipkin to learn how it works.

[2017-10-10 07:36] malafeev commented on #12
👍

[2017-10-10 10:17] gytis commented on #12
@malafeev @pavolloffay is the goal of this to trace every message going through the Spring Cloud Stream or just the ones going through Spring Cloud Stream with Artemis?

[2017-10-10 10:26] pavolloffay commented on #12
We want similar or better support what is in spring cloud sleuth. So the question is what sleuth traces? I guess it traces all messages not only artemis.

[2017-10-12 13:08] malafeev commented on #48
Interesting.
**/health** test:
[code]

[2017-10-12 14:40] malafeev commented on #39
@jpkrohling did you start working on that?

[2017-10-12 14:51] jpkrohling commented on #39
No, feel free to take it.

[2017-10-12 15:00] malafeev commented on #39
sure :)

[2017-10-12 16:06] malafeev opened #61 "Exceptions in 'mvn test' execution"
When tests are executed from command line there are several exceptions.
It causes that one test executed from IDE passes but from command line fails.

1. Actuator test

https://travis-ci.org/opentracing-contrib/java-spring-cloud/jobs/287093279

[Test in actuator branch](https://github.com/opentracing-contrib/java-spring-cloud/blob/actuator/opentracing-spring-cloud/src/test/java/io/opentracing/cont

[2017-10-16 08:40] pavolloffay commented on #61
Does `JdbcTracingTest` fails for you also on the master branch?

The test is passing on travis without problems https://travis-ci.org/opentracing-contrib/java-spring-cloud/builds

[2017-10-16 08:43] malafeev commented on #61
yes, also on master

[2017-10-16 09:01] pavolloffay commented on #61
@malafeev could you please open the issues for master branch and not feature branches in development?

The issues you are referring to is not an issue. The test https://github.com/opentracing-contrib/java-spring-cloud/blob/actuator/opentracing-spring-cloud/src/test/java/io/opentracing/contrib/spring/cloud/actuator/ActuatorTracingTest.java#L58 expects two spans, but there should be only one - for h

[2017-10-16 09:01] #61 closed

[2017-10-16 09:16] malafeev commented on #61
ok

[2017-10-16 12:45] malafeev opened #63 "Code style varies across project"
2 spaces, 4 spaces instead of tabs etc...

[2017-10-16 15:53] #39 closed

[2017-10-16 15:53] pavolloffay commented on #45
I am working on this

[2017-10-17 01:43] malafeev commented on #63
I propose to add maven-checkstyle-plugin.
Agree?

[2017-10-17 07:35] pavolloffay commented on #63
+1,

We should decide on rules. What about google https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml#L2 and disable some annoying rules.

[2017-10-17 09:46] pavolloffay commented on #6
Closing, it seems that this is not necessary

[2017-10-17 09:46] #6 closed

[2017-10-17 12:54] #45 closed

[2017-10-17 13:21] pavolloffay commented on #4
@malafeev what is the status of this? Are you still looking into this?

[2017-10-17 13:57] malafeev commented on #4
I'm waiting for new opentracing api to be released (close active span without finishing)

[2017-10-19 09:08] qw2283345 opened #69 "Support Redis instrumentation"
When can support redis

[2017-10-19 09:24] pavolloffay commented on #69
@qw2283345 hi,

what API are you using to access Redis storage? RedisTemplate or something else?

[2017-10-19 10:57] qw2283345 commented on #69
I can't express myself clearly,  i need  monitoring redis

[2017-10-19 13:51] pavolloffay commented on #63
Partially done in #68.

We should also enable import order.

[2017-10-20 01:28] malafeev commented on #63
[code]
?

[2017-10-20 07:34] #63 closed

[2017-10-24 14:39] pavolloffay commented on #69
At the moment we don't have any specific plans for redis instrumentation. If anybody is interested please comment or :+1:  on this issue.

[2017-10-31 12:37] pavolloffay opened #73 "Submodule build fails on license plugin"
[code]

fails on
[code]

[2017-10-31 16:41] kevinearls opened #74 "ClassNotFoundException with versions 0.04, 0.05, and 0.06-SNAPSHOT"
I have a spring-boot/spring-cloud application using opentracing (See https://github.com/Hawkular-QE/jaeger-instrumentation-performance-tests/tree/master/spring-boot) which produces the stack trace below when run with any version of opentracing-spring-cloud-starter newer than 0.0.2.

I can get the following combinations of dependencies to work correctly:
+ spring-boot 1.5.6.RELEASE, spring-cloud Da

[2017-11-02 12:53] #74 closed

[2017-11-09 12:41] #73 closed

[2017-11-09 13:42] pavolloffay commented on #12
Related PR #72

We have to make sure that the integration does not collide with
* JMS instrumentation
* websocket instrumentation

[2017-11-17 16:44] ledor473 opened #80 "[Feature Request] Exclude specific @Scheduled job"
It would be great to be able to exclude some @Scheduled job.

Our specific usecase is that we run some health check on a scheduled and we would like to ignore that.

I'll try to think of how it could be implemented and report back

[2017-11-20 09:48] pavolloffay commented on #80
Hi, we can use a fully qualified name to specify the class which should be skipped.

Are you willing to contribute it?

[2017-11-20 16:10] ledor473 commented on #80
@pavolloffay I'll try to come up with a WIP pull request this week!

[2017-11-30 13:31] malafeev opened #84 "Is Edgware train supported?"
Edgware is stable, but README doesn't says if it is supported.

[2017-11-30 13:45] pavolloffay commented on #84
hi @malafeev would you be able to contribute test for it? Add it to makefile and then use travis stage to execute it.

[2017-11-30 13:47] malafeev commented on #84
sure, if it's not urgent, I can do it tomorrow :)

[2017-11-30 14:16] malafeev opened #85 "Verify Spring Cloud Gateway instrumentation"
Not sure if it's important, but because Zuul is instrumented probably Gateway needs instrumentation or maybe works because of spring web instrumentation...
Need to check

[2017-12-01 03:44] malafeev commented on #84
@pavolloffay why Camden was removed from build?
Readme says Camden is supported.

[2017-12-01 08:47] pavolloffay commented on #84
It's quite old and I guess spring-stream would not work with it. cc @gytis

[2017-12-01 09:15] gytis commented on #84
@pavolloffay if you want to align with RHOAR Dalston is more up to date than Camden.
Also, it is used by Artemis Spring Cloud Stream binder. And because opentracing-spring-messaging-it is in the same project, integration tests which run stream with Artemis fail because of API differences between Camden and Dalston. I think Camden could still be supported for java-spring-cloud as long as it's not m

[2017-12-01 09:32] #84 closed

[2017-12-20 12:42] pavolloffay opened #88 "Fix travis failures"
https://github.com/opentracing-contrib/java-spring-cloud/pull/87#issuecomment-353052385

[2018-01-10 16:53] objectiser opened #89 "Readme - document how to obtain the tracer"
The readme currently shows how to configure, but not how a springboot app could obtain and use the tracer. Might be good to have a simple code snippet.

[2018-01-10 16:57] pavolloffay commented on #89
I think this is clear for spring users. If you ask them to provide the bean, then it indicates to inject it when it is necessary.

[2018-01-10 20:53] cmoulliard commented on #89
@pavolloffay I'm sorry to say that but this is not clear. Example to configure the jaeger or zipkin bean should be proposed such as this one with more detail about Configuration

[code]

As you can see, it is required too to pass System.getenv("HOSTNAME") otherwise Spring app where opentracing spring cloud is included will not be able to communicate with the agent

[2018-01-11 09:02] pavolloffay commented on #89
I think Gary wants to document how to obtain the tracer bean and use it e.g.:

[code]

@cmoulliard there might be a lot of variations how you configure the tracer. I would rather see this section in jaeger java client repo. But I totally see your point as the tracer config is sometimes not trivial.

About the jaeger's binding to spring ecosystem we can create a separate project in snowdrop which w

[2018-01-11 09:06] objectiser commented on #89
@pavolloffay I created the issue as @cmoulliard had asked about how to obtain the tracer. So depends whether he thinks this needs documenting? Otherwise can be closed.

[2018-01-11 13:09] pavolloffay commented on #12
Now messaging/stream instrumentation lives in https://github.com/opentracing-contrib/java-spring-messaging.

@gytis do you want to add it as a dependency of this module?

[2018-01-11 13:28] pavolloffay commented on #88
Adding `group: deprecated-2017Q4` to travis yaml fixed this issue.

[2018-01-11 13:29] #88 closed

[2018-01-11 13:42] pavolloffay commented on #88
@alesj @gytis do you know why adding the above fixed the issue? Is new travis image blocking some ports or something?

[2018-01-11 13:45] pavolloffay commented on #88
maybe other your artemis builds are failing due to this change

[2018-01-11 14:00] gytis commented on #12
Yeah that would be good. Do you recon it's ready to be tagged for the first version?

[2018-01-11 14:03] gytis commented on #12
Just noticed your messaged about the release.

[2018-01-11 14:15] cmoulliard commented on #89
Ok for this proposition. If we do that than we can keep in a certain way the doc abstract here and add link to the projects where they can find how we have instrumented = implemented the Tracer (jaeger, Zipkin, ....)

[2018-01-11 16:14] alesj commented on #88
@pavolloffay which fix?

[2018-02-07 12:42] pavolloffay opened #92 "Standard logging integration"
There are two possible integrations:
* put  SpanContext into standard logs - there is a problem that OpenTracing does not define getters on SpanContext therefore it's not possible to extract any IDs from it.
* redirect standard logging to OT logs

[2018-02-15 15:25] pavolloffay commented on #92
I am looking into this

[2018-02-16 16:19] #80 closed

[2018-02-16 18:51] ledor473 opened #98 "@Traced annotation"
I was wondering if it was ever discuss to have a `@Traced` method-level annotation?

It would allow to easily start/stop a span around a method (using AOP). We could even capture the args and return value at some point.

Something like this:
[code]
Apache SkyWalking offers this: https://github.com/apache/incubator-skywalking/blob/master/apm-application-toolkit/apm-toolkit-trace/src/main/java/org/a

[2018-02-19 13:41] pavolloffay commented on #4
@malafeev any progress on this? https://github.com/opentracing-contrib/java-rxjava has been ported to the new version.

[2018-02-19 13:45] pavolloffay commented on #98
Microprofile has a similar annotation https://github.com/eclipse/microprofile-opentracing/blob/master/spec/src/main/asciidoc/microprofile-opentracing.asciidoc#321-the-traced-annotation

Sleuth has a similar annotations https://github.com/eclipse/microprofile-opentracing/blob/master/spec/src/main/asciidoc/microprofile-opentracing.asciidoc#321-the-traced-annotation and https://github.com/spring-clou

[2018-02-19 14:52] malafeev commented on #4
@pavolloffay I will submit PR during 2 days

[2018-02-20 09:30] pavolloffay commented on #92
https://github.com/opentracing-contrib/java-spring-cloud/pull/97 implemented option 2 - redirect standard logging to Span logs.

Option 1 depends on https://github.com/opentracing/specification/issues/24.

[2018-02-20 10:42] pavolloffay opened #102 "Logging Filter"
https://github.com/opentracing-contrib/java-spring-cloud/pull/97 introduced redirect of standard logging into span logs.

Logback supports filters https://logback.qos.ch/manual/filters.html to change a decision on appending log. Right now we send all logs to span (log of the level of root logger). However, this might overload tracing system. Just note that some tracing systems might strip long log

[2018-02-20 12:15] #4 closed

[2018-02-20 14:38] pavolloffay commented on #12
Done in #94

[2018-02-20 14:38] #12 closed

[2018-02-20 17:27] pavolloffay opened #104 "Add examples"
* web tracing + skip pattern
* scheduled + skip
* messaging
* logging

[2018-02-20 18:00] pavolloffay opened #105 "Add support for spring-cloud Finchley and spring-boot 2.0.0"
Add make target to test this Finchley with SB 2.0.0

[2018-02-23 17:07] ask4gilles commented on #5
Hi @pavolloffay
Any update on this? I'd like to be able to trace messages using Spring amqp/RabbitTemplate
Thank you!

[2018-02-23 17:12] pavolloffay commented on #5
@gytis would the integration you have recently added (spring messaging) trace amqp/rabbit template?

[2018-02-26 08:30] gytis commented on #5
@pavolloffay I don't know, would have to run a test. It does trace Spring Cloud Stream with RabbitMQ, but not sure about Rabbit template.

[2018-02-26 09:52] ask4gilles commented on #5
@gytis @pavolloffay Looking at io.opentracing.contrib.spring.integration.messaging.OpenTracingChannelInterceptor, it instruments org.springframework.messaging.MessageChannel which is not used by org.springframework.amqp.rabbit.core.RabbitTemplate. I think a "traced" implementation of org.springframework.amqp.core.AmqpTemplate would be needed?

[2018-02-26 10:09] pavolloffay commented on #5
Yes it probably needs a dedicated insturmentation

[2018-03-01 14:07] mdvorak opened #109 "WebsocketAutoConfiguration should be conditional on class WebSocketMessageBrokerConfigurationSupport"
Currently `WebsocketAutoConfiguration` is enabled by default, and it does not respect whether websocket are included in the application at all.
In addition to `opentracing.spring.cloud.websocket.enabled` property, it should be also conditional on class `WebSocketMessageBrokerConfigurationSupport`, which is part of `spring-websocket` maven artifact.

There is already `@ConditionalOnBean(WebSocketMe

[2018-03-01 14:34] objectiser commented on #109
@mdvorak Thanks for reporting this - would you be interested in submitting a PR?

[2018-03-13 15:13] pavolloffay commented on #109
This is the second issue associated with this auto-config. Issue https://github.com/opentracing-contrib/java-spring-cloud/issues/74 and fix https://github.com/opentracing-contrib/java-spring-cloud/pull/75. @objectiser could you please look at it?

@mdvorak what is your classpath for me this artifact works if `websocket` is not present. A reproducer would be handy.

[2018-03-13 15:32] mdvorak commented on #109
Will get back to it, be patient, thanks

[2018-03-13 16:34] pavolloffay opened #110 "Tracer auto-configurations: e.g. Jaeger, Zipkin"
I would like to discuss moving/implementing Spring auto-configuration for different vendors into contrib org. The motivation is to make these starters more visible and easier to use. For example for Jaeger there is already a starter [1], but it's very hard to find it.

There are several ways how this can be done:
1. each starter in a separate repo
2. one repo for all starters
3. include starters d

[2018-03-13 16:39] yurishkuro commented on #110
sorry, I don't have an opinion either way. zipkin / jaeger should certainly be in different modules, but as far as repos - what's the downside of having them all in this one?

[2018-03-14 09:28] objectiser commented on #109
Looking at the dependencies in the cloud-starter with the two profiles:

[code]

I would have expected this issue to have occurred in the `nodeps` profile?

[2018-03-14 09:58] objectiser commented on #109
Some work is required to support spring-boot 2 (see #111), but was able to run the cloud-starter tests against SB 2 and still didn't show up the issue.

Ran the following from the `opentracing-spring-cloud-starter` module:
[code]

[2018-03-14 15:39] malafeev commented on #110
it would be convenient to have all in one repo:
- use the same api version for all tracers
- common module with common functionality (if there is)
- it is easier to add one more starter (copy paste ideas from implemented starter) instead of googling how to add

[2018-03-21 13:30] pavolloffay commented on #110
One from support perspective if a tracer gets unsupported.

[2018-03-21 13:30] pavolloffay commented on #110
@geoand @gytis do you want to start with impl?

[2018-03-21 13:36] geoand commented on #110
@pavolloffay Sure, I'll starting working that, hopefully soon :)

[2018-03-22 14:11] geoand commented on #110
So is that plan to move the code into this repo or a separate repo inside the `opentracing-contrib` org?

[2018-03-22 14:13] pavolloffay commented on #110
I think in this repo

[2018-03-22 14:14] geoand commented on #110
Personally I think that that makes most sense, so we can use the same versions for everything

[2018-04-03 17:49] yurishkuro commented on #69
@isaachier I think this issue is mostly about instrumenting client side. Afaik Redis has a fairly open and well documented wire protocol, so most clients can be written natively in the chosen language without relying on some low-level libraries. I think your suggestion of opentracing-c applies more on the server side. I don't have any insight how feasible it is (probably possible).

[2018-04-03 17:52] isaachier commented on #69
I mean is it reasonable to instrument the server-side or would that mean maintaining a fork which may not be part of the OpenTracing mission.

[2018-04-03 18:17] yurishkuro commented on #69
I think the only viable approach for instrumenting 3rd party products server-side is if they either support pluggable instrumentation (like Cassandra), or they are willing to integrate OpenTracing API directly (as couchbase or grafana). Maintaining a fork is certainly not a viable long term strategy.

[2018-04-04 08:52] pavolloffay commented on #109
@mdvorak do you have any update? Maybe dependency tree of your project could help us to solve this.

[2018-04-04 11:25] pavolloffay commented on #69
There is also https://github.com/opentracing-contrib/java-redis-client which could be perhaps used as the underlying instrumentation.

[2018-04-04 11:27] isaachier commented on #69
Right I sort of hijacked this issue to refer to the server side. Having so many client side instrumentations seems more difficult than maintaining one redis server instrumentation.

[2018-04-05 07:51] pavolloffay opened #115 "Create readme for jaeger starter"
cc @geoand

[2018-04-06 08:45] #109 closed

[2018-04-06 10:41] mdvorak commented on #109
Problematic case is when you have *only* these two dependencies (tested with 1.5.11.RELEASE):
[code]
and nothing else. #112 fixes this. Thanks @objectiser for the PR.

PS: Sorry for long response, I had another work engagement.

[2018-04-06 13:45] mdvorak commented on #102
I would suggest simply leaving it to custom configuration, as it does Spring Boot on its own.
Moment `logback-spring.xml` (or other variants) are found, it is used, and logging properties are ignored.

Problem is, currently `SpanLogsAppender` requires Tracer reference. When used in logback manually, it would have to use `GlobalTracer`.

Note that `TracerRegisterAutoConfiguration` does not reregist

[2018-04-06 16:26] natehart opened #118 "Security Vulnerability: Upgrade Spring Framework to 5.0.5 or 4.3.15 req'd"
Pivotal just released the following [security vulnerability](https://pivotal.io/security/cve-2018-1270):

CVE-2018-1270: Remote Code Execution with spring-messaging

Severity: Critical
Vendor: Spring by Pivotal

Description

Spring Framework versions 5.0 to 5.0.4, 4.3 to 4.3.14, and older unsupported versions allow applications to expose STOMP over WebSocket endpoints with a simple, in-memory STOM

[2018-04-10 08:19] pavolloffay opened #120 "Spring cloud context library in not appending span properly"
Original issue: https://github.com/jaegertracing/jaeger-client-java/issues/381

One of the library in our project uses spring-cloud-context version 1.3.2.RELEASE.
After using spring cloud context jar, we are not getting traces properly.
I am getting in downstream service span.

cc @chandresh-pancholi

[2018-04-11 07:17] chandresh-pancholi commented on #120
Hi,

We are using cloud-context to fetch config from the web server. Below is the build.gradle & Tracing code which we are using.

build.gradle
[code]
Tracing component
[code]

When we remove context dependency from build.gradle. Mapping on span works perfectly.

Without spring-cloud-context jar
[code]
With spring-cloud-context jar
[code]
Please let me know if you need more information to reproduc

[2018-04-11 07:24] geoand commented on #115
Would this be part of the main README or a new file inside the jaeger module?

[2018-04-11 07:45] pavolloffay commented on #115
New readme file. We could also add links to the root readme to make it more visible.

[2018-04-13 08:06] ask4gilles commented on #5
Hi @gytis and @pavolloffay, I'd like to contribute on the rabbitMq instrumentation.
Should this happen in the opentracing-spring-messaging repo or somewhere else?

[2018-04-13 08:33] gytis commented on #5
It should probably go to a separate repo similar to https://github.com/opentracing-contrib/java-jms. opentracing-spring-messaging is an instrumentation for massaging of Spring Integration i.e. ChannelInterceptor.

[2018-04-13 08:35] ask4gilles commented on #5
Thanks @gytis , that's also the way I saw it.

[2018-04-13 08:44] pavolloffay commented on #5
It depends on how complex it is and whether it can be reused in other projects. If it will just a wrapper around JMS it can be here.

Generally speaking you can submit a PR here and we will see whether it makes sense to move it somewhere else.

[2018-04-16 21:58] carlosalberto opened #127 "Mongo instrumentation"
It looks like support is missing for:

* `org.springframework.data.redis.connection.RedisConnectionFactory`
* `org.springframework.data.mongodb.MongoDbFactory`

Support for these could be leveraged on top of `java-redis-client` and `java-mongo-driver`, respectively (both in `opentracing-contrib`).

[2018-04-17 04:37] pavolloffay commented on #127
This is a partial duplicate of https://github.com/opentracing-contrib/java-spring-cloud/issues/69 (the redis part)

[2018-04-17 05:04] ask4gilles commented on #5
@pavolloffay https://github.com/opentracing-contrib/java-spring-cloud/pull/126 is ready for review :)

[2018-04-18 08:57] #115 closed

[2018-04-20 09:22] mdvorak opened #130 ".editorconfig in project"
Hi,
.editorconfig files should be included in the project, since it is using non-standard indentation for Java files. It is annoying to prepare pull requests, and many PRs will have incorrect indentation because this file is missing. But I've found some comments regarding this in #42.

Why it was refused? It is intended exactly for this purpose - to provide same formatting rules for everyone, rega

[2018-04-20 09:55] mdvorak commented on #92
I've created implementation that wraps `ScopeManager` and creates `MDC` (slf4j) context via user-supplied function. This abstraction can still be added into library, with specific implementation bound to the tracer would have to be supplied.
For Jaeger, it can already be created in its autoconfig out-of-the-box.

@pavolloffay If you're interested, I can prepare PR. I would rather have the code her

[2018-05-02 14:58] pavolloffay commented on #130
looks good, do you want to submit a PR?

[2018-05-03 05:22] cmoulliard opened #133 "Clarification request for arbitrary opentracer"
The README file mentions `to use arbitrary OpenTracing tracer` within Sleuth section.
Can you clarify and give an example about what is an `arbitrary OpenTracing tracer` ?

[2018-05-03 08:42] pavolloffay commented on #133
The first sentence says which tracer is supported. Arbitrary means other than brave-opentracing

[2018-05-03 08:42] #133 closed

[2018-05-03 15:05] sudr opened #134 "FeignTracingAutoConfiguration.tracer causes application startup time to up x10"
I'm not entirely sure where the issue is. But here is the behavior I'm observing when using the opentracing-spring-cloud-feign tracing module.

1. The Spring Boot application that consumes this module goes from a ~15 sec startup time to ~5 min startup time.
2. From log files it seems to indicate excessive RMI activity to be the culprit
3. Renaming the tracer variable in FeignTracingAutoConfigurati

[2018-05-03 15:12] pavolloffay commented on #134
The log files would be appreciated. Could you please also share a reproducer?

[2018-05-03 15:26] sudr commented on #134
I was able to consistently reproduce and resolve the issue as noted above until I opened this issue! Now I can't reproduce it anymore. Yikes! But I do have the logs from a run earlier this morning that demonstrates the higher RMI activity. Can I ship them to non-public email address.

[2018-05-04 15:25] geoand opened #135 "Move autoconfiguration code to separate repo"
A very valid point has been raised that the auto-configuration modules depend on Spring Cloud making them heavy for simple REST apps that don't need all the Spring Cloud baggage.

We could move the jaeger and zipkin implementation into a separate repo and have them depend on either `java-spring-web` or `java-spring-cloud`, much like the [old snowdrop implementation](https://github.com/snowdrop/ope

[2018-05-04 15:56] cmoulliard commented on #135
I'm really in favour to do this simplification even if a new project should be created as `java-spring-web` should not embed too many GAVs to just instrument REST endpoints

[2018-05-04 16:12] objectiser commented on #135
Understand your point - although not sure a separate repo would be necessary.

Can't we just remove the dependency from the jaeger starter on opentracing-spring-cloud-starter? It means the user would have to include two starter dependencies, but the same is true if going with the original suggestion.

[2018-05-04 19:56] mdvorak commented on #130
I'm on vacation, but will do when I'm back

Dne st 2. 5. 2018 16:58 uživatel Pavol Loffay <notifications@github.com>
napsal:

[2018-05-07 14:04] pavolloffay commented on #135
Note that this repository shouldn't pull in any other dependencies. Everything (except light instrumentations) is defined as optional. If the `io.opentracing.contrib:opentracing-spring-cloud-starter:jar` is bringing something then it's a bug which should be fixed.

Here is a dependency tree for
[code]

[code]

[2018-05-08 06:30] geoand commented on #135
Hi Pavol,

Thank you very much for pointing out this fact! I obviously should have checked the scope of the dependencies myself :P.
I also checked with an application that uses instrumentation but does not explicitly pull `spring cloud` and the behavior is the same as you describe.

So the initial scope of the question is obviously wrong, but it does bring up the question of whether or not the nam

[2018-05-08 06:47] pavolloffay commented on #135
We had a couple of goals when developing this project:
* one instrumentation artifact which instruments _all_ classpath. We were also considering a separate starters for instrumentations like `feign-starter`, but nobody asked for it. Iit can be easily done and these starters would be just combined into one main artifact.

This is similar to what _sleuth_ does. It's also one artifact for bunch of s

[2018-05-08 06:48] pavolloffay commented on #134
it was a weird one :). But if it happens again I am happy to look at it. I just need more info how to reproduce.

[2018-05-08 06:50] geoand commented on #135
That is great context information that I was lacking @pavolloffay ! Thanks for the summary!

In light of this information, I believe that for starters an update to the README would be appropriate (I'll start on that).

[2018-05-08 07:13] #135 closed

[2018-05-08 09:21] pavolloffay opened #138 "Bump version of web instrumentation"

[2018-05-08 10:58] pavolloffay opened #139 "Support various zipkin encodings (jsonv1, jsonv2, protobuf)"

[2018-05-09 10:41] #139 closed

[2018-05-09 16:40] tomakehurst opened #142 "Spans created by TraceAsyncAspect not being started active"
Our app has a Spring controller that delegates most of its work to a background task (annotated with Async), which in turn makes JDBC calls.

TraceAsyncAspect calls `start()` rather than `startActive(...)` [here](https://github.com/opentracing-contrib/java-spring-cloud/blob/master/opentracing-spring-cloud/src/main/java/io/opentracing/contrib/spring/cloud/async/TraceAsyncAspect.java#L53), which mea

[2018-05-18 13:03] tomakehurst commented on #142
Hey, as an OSS maintainer myself I totally appreciate how annoying it is having people chase you up about issue tickets.

However, if you could at least give me a nod as to which solution (if any) you'd be willing to accept I'll happily create a PR for the change.

Thanks in advance.

[2018-05-18 13:35] tomakehurst commented on #142
OK, I'll have a little bit more of a dig around, but if there's nothing obviously problematic about it I'll make a PR with the change.

In any case, I'm integrating this into a client's system so it'll get a bit of road testing.

[2018-05-22 08:27] #142 closed

[2018-05-22 13:00] pavolloffay commented on #127
I will rename this to Mongo only

[2018-05-22 13:00] pavolloffay commented on #127
@carlosalberto is #143 enough to support mongo?

[2018-05-23 12:35] #127 closed

[2018-05-29 11:14] pavolloffay opened #147 "Split instrumentations into submodules"
Split instrumentations into separate modules. This way users/vendors can select only what is necessary for them (even though all dependencies are optional in repo).

[2018-05-29 11:15] pavolloffay commented on #110
We have decided to move vendor starters to separate repositories and keep here only instrumentations. We will also move instrumentations to a separate modules see #147.

This way vendors can build starters with only selected instrumentations they are happy to support.

[2018-05-29 11:16] pavolloffay commented on #147
The repository should keep supporting instrument all artifact.

[2018-05-29 12:58] #110 closed

[2018-05-29 13:03] pavolloffay opened #150 "Instrument WebFlux"
Instrument WebFlux - server and client side

https://docs.spring.io/spring/docs/5.0.6.RELEASE/spring-framework-reference/web-reactive.html#spring-webflux

[2018-06-01 08:19] #147 closed

[2018-06-01 09:04] pavolloffay opened #152 "Rename artifacts/package"
## Follow Spring starter naming conventions

at the moment artifacts are named `opentracing-spring-cloud-<module>-starter`, however spring uses convention `spring-boot-starter-<module>`

https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#using-boot-starter
Although it's spring convention, the [docs](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-dev

[2018-06-01 09:05] pavolloffay commented on #152
cc @geoand @objectiser

[2018-06-01 09:05] pavolloffay commented on #138
done in https://github.com/opentracing-contrib/java-spring-cloud/pull/148

[2018-06-01 09:05] #138 closed

[2018-06-01 09:17] geoand commented on #152
cc @gytis @metacosm

[2018-06-01 09:54] objectiser commented on #152
I would also vote for 1.

[2018-06-01 10:05] metacosm commented on #152
Be careful that Pivotal / Spring Boot have naming conventions for third party starters. @gytis ran into these issues before.

[2018-06-01 10:35] gytis commented on #152
https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-developing-auto-configuration.html#boot-features-custom-starter-naming

[2018-06-01 12:15] pavolloffay commented on #152
Then just mention it shouldn't star with `spring-boot`...

[2018-06-05 13:35] pavolloffay commented on #92
It sounds interesting. +1 on my side. @geoand can be the generic stuff added to jaeger starter?

[2018-06-05 13:37] geoand commented on #92
I need to take a look, I'm not familiar with the scope of this. I'll check it out and get back to you soon

[2018-06-05 14:11] mdvorak commented on #92
With current architecture, its a bit complicated.
While classes `DiagnosticContextScopeManager` and `SpanDiagnosticContext` are generic and could be in core, rest is tracer specific, since there is no way to customize `ScopeManager` a in generic way. There is not even a way to get current `ScopeManager` from `io.jaegertracing.Tracer.Builder`.

In case of Jaeger, `JaegerAutoConfiguration` could be

[2018-06-05 14:44] geoand commented on #92
This looks like a very nice idea to me.
I would think that `DiagnosticContextScopeManager` and `SpanDiagnosticContext` would be in one of the generic java opentracing libraries.

Just to clarify, the MDC based implementation only works when the delegate ScopeManager is a `ThreadLocalScopeManager` (due to MDC also being tied to the current thread),  is that correct?

[2018-06-05 14:55] geoand commented on #92
Thanks @mdvorak for the confirmation.

I really like the solution as long as it's limitations are properly documented

[2018-06-05 16:32] geoand commented on #92
FWIW, Spring Cloud Sleuth also uses the same approach:

https://github.com/spring-cloud/spring-cloud-sleuth/blob/master/spring-cloud-sleuth-core/src/main/java/org/springframework/cloud/sleuth/log/Slf4jCurrentTraceContext.java

[2018-06-06 09:22] geoand commented on #150
Spring Cloud Sleuth's implementation seems to be the following: https://github.com/spring-cloud/spring-cloud-sleuth/blob/master/spring-cloud-sleuth-core/src/main/java/org/springframework/cloud/sleuth/instrument/web/TraceWebFilter.java

[2018-06-08 19:45] noorulhaq commented on #150
Autoconfig does not seems to work with Webflux. Is there any alternative to make it work?

See below exception when using `webflux` with `netty` and `opentracing-spring-cloud-starter-jaeger`:

[code]

[2018-06-11 18:51] abhimanyuseth opened #155 "Forcing to include dependency for JMS"
As per the documentation,
"It's worth noting that the although OpenTracing Spring Cloud contains code for instrumenting a wealth of Spring projects, it however does not pull those dependencies automatically, marking them as optional dependencies instead."

I have added
`
compile('io.opentracing.contrib:opentracing-spring-cloud-starter-jaeger:0.1.13')
`

My project isn't using spring jms or javax.j

[2018-06-12 20:31] emersonborges opened #156 "How do I decorate my feign client?"
How do I decorate my feign client with custom FeignSpanDecorator using @FeignClient annotation?

[2018-06-19 16:18] ask4gilles commented on #5
RabbitMQ instrumentation is located here.
https://github.com/opentracing-contrib/java-spring-rabbitmq
Its starter has been integrated here
https://github.com/opentracing-contrib/java-spring-cloud/pull/158

[2018-06-20 12:20] pavolloffay commented on #155
@abhimanyuseth hi, thanks for reporting. This shouldn't really happen. Can you please share a small reproducer?

`JmsAutoConfiguration` is conditional on `JmsTemplate` however it imports `TracingJmsConfiguration`. @geoand do you know if the imported class is skipped if the conditions are not satisfied?

https://github.com/opentracing-contrib/java-spring-cloud/blob/master/instrument-starters/opentr

[2018-06-20 12:21] pavolloffay opened #159 "Fix flaky test JmsArtemisManualServerTest"
see https://travis-ci.org/opentracing-contrib/java-spring-cloud/jobs/394524706#L1958

[code]

[2018-06-20 12:32] pavolloffay commented on #156
@emersonborges hi, unfortunately, It's not supported at the moment. Would you like to submit a PR for it? We could autowire list of decorators into the configuration.

[2018-06-20 12:34] pavolloffay commented on #156
If you need to add custom tags/logs you can also use feign filter/interceptor if there is any and use span scope manager to get current active span.

[2018-06-20 12:42] geoand commented on #155
@pavolloffay I think that if you use the `name` property of `ConditionalOnClass` instead of `value` which forces the JVM to load the class (and perhaps it's dependencies) that the problem would go away

[2018-06-20 16:07] pavolloffay commented on #155
We use that on a number of auto-configurations so it would be failing in other cases too. I cannot reproduce this issue. @geoand could you please try?

[2018-06-20 16:25] geoand commented on #155
@pavolloffay Sure, I'll give it a shot tomorrow.

[2018-06-21 14:27] geoand commented on #155
@abhimanyuseth Would it be possible for you to supply a test project or at least give us more information about the environment you are running?

I wasn't able to reproduce the issue either

[2018-06-21 18:06] abhimanyuseth commented on #155
Sorry, yes. I'll try to get it done today.

[2018-06-22 00:36] abhimanyuseth commented on #155
[https://drive.google.com/file/d/1tpYvIHF6nUmEJhjuIfzybsLs0UG4QLB0/view?usp=sharing](url)

@geoand @pavolloffay
Please try the above IntelliJ IDEA project. I run into the issue described above.
If I uncomment the JMS dependencies, then it'll run fine.

To run the project, use `./gradlew bootRun` from within the project.

[2018-06-22 05:29] geoand commented on #155
Thanks, I'll give it a shot!

On Fri, Jun 22, 2018, 03:36 Abhimanyu Seth <notifications@github.com> wrote:

[2018-06-22 09:59] geoand commented on #155
@abhimanyuseth I see that in your demo project, you have the following opentracing dependencies:

[code]

and I indeed see error you mentioned, so I will check it out.

Also, you probably want to use the Jaeger auto-configuration [here](https://github.com/opentracing-contrib/java-spring-jaeger/tree/master/opentracing-spring-jaeger-starter) (although we will also be including see [this](https://git

[2018-06-22 11:48] geoand commented on #155
@abhimanyuseth I found the problem, and it doesn't have anything to with OpenTracing :wink:

You have added `@ComponentScan(basePackages = { "io.opentracing", "com.example" })` to your main class which is something that you shouldn't do under any circumstances.

By including `io.opentracing` you are effectively making Spring check for any classes that could contribute to the Spring Application Con

[2018-06-22 11:48] #155 closed

[2018-06-22 16:59] abhimanyuseth commented on #155
Thanks so much!
I'd added that while debugging something, but I missed removing that.

[2018-06-22 17:03] abhimanyuseth commented on #155
Regarding Jaeger auto-configuration, I was using that, but I had trouble with the auto-configuration picking the service name for the Tracer.
In our main project, we have an application.yml where I've added
[code]
Also, one of the sub-projects has a bootstrap.properties which has spring.application.name: <subproject-name>

The auto-configuration always picked up <subproject-name> and I wasn't able

[2018-06-22 18:49] geoand commented on #155
As can be seen [here](https://github.com/opentracing-contrib/java-spring-jaeger/blob/0fff21c8190c2b115e18059ccab0f241b9537a2f/opentracing-spring-jaeger-starter/src/main/java/io/opentracing/contrib/java/spring/jaeger/starter/JaegerAutoConfiguration.java#L61), `spring.application.name` is what is used as the service name

[2018-06-22 18:50] geoand commented on #155
So I don't really know what might be going on with your project.Could you share some more details please?

[2018-06-22 19:13] abhimanyuseth commented on #155
We have our project structure like this:
[code]

- sub-project_app has the SpringBootApplication which we run using bootRun, and it has dependencies to compile the other sub-projects.
- sub-project_app has application.yml instead of application.properties (hence no spring.application.name, but spring: application: name)
- sub-project_X has bootstrap.properties which has spring.application.name.

J

[2018-06-22 19:21] geoand commented on #155
I would suggest to take a look at what is ending up in the jars produced by gradle to see what properties / yaml files exist. That may help to figure out what's going on

[2018-06-27 23:16] marcus174 opened #162 "MongoDB Auto Configuration doesn't pass through MongoCredentials"
MongoTracingAutoConfiguration currently doesn't propagate MongoDB credentials when creating the MongoDB client, this causes authentication failures when trying to connect to MongoDB.

Changing this code to to pass in the credential list allowed me to pass in the mongodb credentials that were set on the spring.data.mongodb.uri.

[code]

[2018-06-29 08:02] natami opened #163 "Sending JSON payloads using IBM MQ"
How do i enable sending json formatted messages?

Using the recommended Spring Boot approach:
[code]

Results in the following exception:
[code]

Sending the object as a Serializable works without problems.

Or enabling the previously mentioned MessageConverter and disabling opentracing-spring-cloud-starter then Json payloads works.

[2018-06-29 08:57] objectiser commented on #163
Just to be clear, you are saying that when your `MessageConverter` is enabled on both sender and receiver then it works fine until `opentracing-spring-cloud-starter` dependency is added?

If so, can you provide the dependency tree for your sender and receiver when not using the `opentracing-spring-cloud-starter`?

If necessary would you be able to provide a simple reproducer for the problem? Possi

[2018-06-29 09:06] natami commented on #163
Yes, adding opentracing-spring-cloud-starter dependency introduces the error.

I can make a simple example - although I don't have access to any ActiveMQ setup to test this on. Suppose you could change the IBM MQ parts to ActiveMQ yourself (No code, pure spring config)?

I'll get back to you asap with an example.

[2018-06-29 10:37] natami commented on #163
I've written a quick spring boot + gradle example.

Let me know, if you can reproduce with ActiveMQ.

[jms-tracing.zip](https://github.com/opentracing-contrib/java-spring-cloud/files/2148992/jms-tracing.zip)

[2018-06-29 13:50] objectiser commented on #163
Yes have confirmed the issue with ActiveMQ. Won't be able to take a look at this until next week though - @malafeev may have some ideas?

[2018-06-29 14:01] malafeev commented on #163
hm, probably root cause in [JmsTextMapInjectAdapter](https://github.com/opentracing-contrib/java-jms/blob/master/opentracing-jms-common/src/main/java/io/opentracing/contrib/jms/common/JmsTextMapInjectAdapter.java#L27)
We replace all dashes by `_$dash$_` and probably it cause problems with serialisation/deserialisation in `MappingJackson2MessageConverter`

[2018-06-30 18:27] emersonborges opened #164 "Feign clients created manually doesn't work with feign.Okhttp client"
Feign clients created manually with Okhttp client doesn't work, I believe it's because Okhttp class is final and the AOP approach doesn't consider final classes. Should be ok to remove this final type validation from the aspect? Or is there another way to make this work with the Okhttp client?

[2018-07-02 14:00] pavolloffay commented on #162
@marcus174 thanks for the reporting. would you like to submit a fix?

[2018-07-02 16:44] objectiser commented on #163
@natami @malafeev It is not the adapter - for some reason the `MessageConverter` is not being set on the `JmsTemplate`.

When the opentracing dependency is commented out an initial `SimpleMessageConverter` is set and then overridden by the `MappingJackson2MessageConverter`.

@malafeev Any idea why the message converter wouldn't be used when the ot-jms dependencies are included?

[2018-07-02 18:04] natami commented on #163
Are you sure you’re using the Spring default created JmsTemplate Bean?

[2018-07-03 05:38] natami commented on #163
I investigated a little, and discovered that ´´´TracingJmsConfiguration´´´creates it's own ´´´TracingJmsTemplate´´´, which extends Spring's ´´´JmsTemplate´´´, completely ignoring the ´´´JmsTemplate´´´ bean which is autoconfigured in ´´´JmsAutoConfiguration´´´

[2018-07-03 06:20] malafeev commented on #163
I think `TracingJmsTemplate` should set `MessageConverter` if provided. Will it fix the issue?

[2018-07-03 06:42] natami commented on #163
I tried setting it manually, before sending a message - with same result.

- Somehow it's not set for the @JmsListener part.

[2018-07-03 07:59] #156 closed

[2018-07-03 08:00] #159 closed

[2018-07-03 08:42] objectiser commented on #163
Fixed by https://github.com/opentracing-contrib/java-jms/pull/14

[2018-07-03 08:49] pavolloffay commented on #164
What do you mean by manually? Providing a `feign.okhttp.OkHttpClient` bean?

[2018-07-03 09:08] pavolloffay commented on #163
Shouldn't this be open until it lands here?

[2018-07-03 09:10] pavolloffay commented on #118
@geoand is this issue still valid? IIRC we are on fixed spring version

[2018-07-03 09:12] geoand commented on #118
We are using `<version.org.springframework.boot>1.5.12.RELEASE</version.org.springframework.boot>` which in turn means that we are using Spring `4.3.16` so we are covered and this should be closed.

[2018-07-03 09:12] #118 closed

[2018-07-03 09:21] malafeev commented on #163
java-jms 0.0.8 released with fix. Should be available in maven central soon.

[2018-07-03 12:58] emersonborges commented on #164
When I create a feign client with Feign builder:

[code]
```OkHttpClient ``` is a final class: https://github.com/OpenFeign/feign/blob/master/okhttp/src/main/java/feign/okhttp/OkHttpClient.java

[2018-07-03 13:16] pavolloffay commented on #164
@emersonborges thanks, would you like to create a fix for this?

[2018-07-03 18:12] natami commented on #163
Are you guys sure, the 0.0.8 release of opentracing-jms-spring contains the fix to autowire the MessageConverter?

- Looking at the downloaded sources, I can't seem to be able to find it.

[2018-07-05 07:36] #163 closed

[2018-07-08 15:33] emersonborges opened #166 "Support for log4j2"
I'm using log4j2 in my SpringBoot application, excluding logback implementation and logging with tracer doesn't work. It would be nice to support logging with log4j2 .

[2018-07-10 13:12] emersonborges commented on #166
Hi @pavolloffay!

Yes, there is a similar approach:
- https://logging.apache.org/log4j/2.x/manual/extending.html
- https://logging.apache.org/log4j/2.0/manual/customconfig.html

I will send the PR when possible.

[2018-07-10 14:58] pavolloffay commented on #166
thanks @emersonborges

[2018-07-13 14:48] pavolloffay commented on #5
hi @bygui86, not yet. Would you like to contribute it?

[2018-07-19 16:49] timtebeek commented on #5
Hmm; wasn't aware of this issue; this seems related for passing tracing data between Kafka & Spring Cloud:
https://github.com/opentracing-contrib/java-kafka-client/issues/26
Any chance you can improve the current integration? The proposed workaround at present seems too cumbersome to be practical.

[2018-07-20 02:24] malafeev commented on #5
Looking to JMS/RabbitMQ integrations looks like Kafka also requires some bean post processing hacks :)

[2018-07-20 07:41] bygui86 commented on #5
Probably I found another way to integrate Spring Cloud Stream Kafka with OpenTracing.
I will try it today, if it's working I will post an example.

[2018-07-23 11:42] bygui86 commented on #5
@pavolloffay I'm still working on that side. As you can see for example in the class **SinkTracingConfig**, I had to redefine some beans from spring-kafka (DefaultKafkaConsumerFactory, ConcurrentKafkaListenerContainerFactory) and from opentracing-contrib-kafka (TracingConsumerFactory).
I will try to understand and better use the class "ConcurrentKafkaListenerContainerFactoryConfigurer" from spring

[2018-08-14 11:24] jpkrohling opened #168 "Benchmarks - overhead of instrumented code without a tracer"
See https://github.com/opentracing/opentracing-java/issues/295

Similar to the linked issue from the main opentracing-java repository, the idea is to measure how much overhead the OT instrumentation is adding when compared to the same application using the same non-traced component.

For this one, the benchmark would be simpler: for each component to be exercised, build a test Spring Boot applicat

[2018-08-14 13:18] sudr commented on #105
I'd be happy to help if I can get some pointers on this.

[2018-08-14 13:46] jpkrohling commented on #98
I think this should be at the OT-Java level, as it could potentially be used by a lot of instrumentation libraries (CDI comes to mind as well).

[2018-08-14 15:34] ledor473 commented on #98
@jpkrohling I agree it would be valuable to have the annotation directly inside the [Java SDK](https://github.com/opentracing/opentracing-java).
I could send the PR today to start the discussion

[2018-08-16 15:35] #130 closed

[2018-08-17 07:32] #162 closed

[2018-08-17 11:13] pavolloffay commented on #105
Done in #167

I will cut `0.2.0` with this change

[2018-08-17 11:13] #105 closed

[2018-08-27 06:12] jnazander opened #171 "Exceptions in `JMSListener` methods lose their tracing context"
I am using `opentracing-jms` to pass the traceId to `@JMSListener` methods. I'm also using [brave-context-slf4j](https://github.com/openzipkin/brave/tree/master/context/slf4j) to write tracing information to the `MDC`, so that any exception thrown will contain the `traceId` when logged (in Graylog).

So far it works fine, any exceptions caught and logged _inside_ `@JMSListener` methods also have t

[2018-08-28 08:48] pavolloffay commented on #171
JMS instrumentations is consumed from https://github.com/opentracing-contrib/java-jms and maintained by @malafeev.

The behavior of `TracingMessageListener` seems to be correct. It cannot keep the scope active after the processing. It could log the exception into the span. But the exception would be in span not in standard logging. If you override this behavior it's a leak and you can run into wro

[2018-08-28 08:48] pavolloffay commented on #171
I will close this. Please open an issue in  https://github.com/opentracing-contrib/java-jms

[2018-08-28 08:48] #171 closed

[2018-08-28 08:59] jnazander commented on #171
I've came up with a way around it now. I used Spring AOP to wrap all `@JMSListener` methods with try-catch blocks to catch any exceptions that they may throw. This way, they are all caught and logged before the tracing scope is finished.

[2018-08-28 20:30] sebastian-garofalo opened #172 "actuator/health creating spans"
Hey guys

I'm seeing traces are created to calls done to the "/actuator/health" endpoint.
I had read that there is a skip pattern to avoid those endpoints creating spans by default, was it removed/changed?

Do you know where I can find info on how to configure endpoints to not generate traces?

Thanks for your help

[2018-08-29 08:45] pavolloffay commented on #172
hi the skip pattern is configured in web module https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web-starter/src/main/java/io/opentracing/contrib/spring/web/starter/WebTracingProperties.java#L37

[2018-09-07 10:07] dozer47528 opened #173 "`JdbcAspect.getConnection` will execute `SELECT USER()` every time"
I find the `getConnection()` method is slower than expected.
So I check the source code:

[code]

For this line: `String user = conn.getMetaData().getUserName();`
`mysql-connector-java`  will execute `SELECT USER()` every time.

[2018-09-11 03:56] quaff commented on #98
replace component with tags
[code]

[code]
It's better tag value supports SPEL.

[2018-09-13 03:48] kjsebastian opened #174 "Support `ignoreForTracing` param"
The [jdbc instrumentation v0.0.8](https://github.com/opentracing-contrib/java-jdbc) has support for a param that ignores specified queries. If this is a good first issue, I could start working on adding that here

[2018-09-13 07:48] kjsebastian commented on #174
Opened #175

[2018-09-13 08:54] kjsebastian commented on #174
Did not see #144 already handling this issue. Closing

[2018-09-13 08:54] #174 closed

[2018-09-17 11:11] ddcprg commented on #69
Is anyone working on this already? I wouldn't mind taking a look since I need this feature

[2018-09-18 09:02] pavolloffay commented on #69
@ddcprg I am not aware of anybody. It would be great if you could have a look :+1:

[2018-09-18 20:18] impatienttraveller commented on #69
I've managed to spend some time on this issue this evening. I'll try to push a PR tomorrow.

[2018-09-18 21:11] ddcprg commented on #69
I've managed to spend some time on this issue this evening. I'll try to push a PR tomorrow.

[2018-09-21 18:43] AishEbsco commented on #150
Hello - just trying to understand if this is planned to be instrumented/part of the roadmap for the opentracing project anytime soon? We have a web flux project that needs to send spans to jaeger and it'd be great if this functionality were available. thanks!

[2018-09-26 12:44] wittwerch commented on #104
Hi Pavol

I found that ticket while search for a configuration example to exclude URL patterns from being traced.
In my case health checks and prometheus scrapes are under a specific context, which makes the so the `DEFAULT_SKIP_PATTERN ` doesn't match.

An example in the docs how to set your custom skip pattern would be super helpful.

[2018-10-19 16:33] alvarolop opened #178 "Issue integrating Opentracing.io with Spring MVC"
I am trying to configure my Spring Boot Application so that it sends all the traces to my jaeger endpoint. I have use the following documentation:

- https://github.com/opentracing-contrib/java-spring-web
- https://github.com/opentracing-contrib/java-spring-cloud
- https://github.com/opentracing-contrib/java-spring-jaeger

And I have added the configuration that I consider important and below you

[2018-10-23 08:39] wuyupengwoaini opened #179 "SpanContext can put in MDC"
Suppose this situation:

when i use tracing system,and i find a trace has a problem. So,i search the logs in ELK .But ,i find it is so hard to search the logs related to that trace,because there is no trace id in logs.So i can not find related logs by trace  id.

so，colud put SpanContext(include traceId,spanId,parentId,flag) in MDC,i can format the log from the MDC.

[2018-10-23 08:52] objectiser commented on #179
This will only be possible once https://github.com/opentracing/opentracing-java/pull/280 has been released (v0.32.0). Currently the traceId and spanId are not available via the OpenTracing API.

[2018-10-23 14:00] ddcprg opened #180 "Declarative OpenFeign client is not being weaved"
**Module**

_opentracing-spring-cloud-feign-starter_

**Issue**

The aspect does not seem to consider declarative clients, i.e. interfaces annotated with `@FeignClient`

**Description**

Declarative Feign clients are built with `feign.ReflectiveFeign`. Invocations are delegated to `feign.Client.Default` which is passed down to the actual hander via the handler factory. Would be nice if an aspect c

[2018-10-23 14:01] ddcprg commented on #180
I'm not sure whether this has been looked into before. Should let's discuss possible implementations?

[2018-10-23 16:49] ddcprg commented on #180
I think just building an `Aspect` for the `Default` Feign `Client` should enough to get the same functionality. I'll try to get a POC done this evening and raise a PR to discuss

[2018-10-23 17:13] ddcprg commented on #180
seems the aspect should be weaved around any `Client`. I'll look deeper into this one :)

[2018-10-24 10:05] ddcprg commented on #180
seems this can be sorted out by configuring the aspectj weaver plugin

[2018-10-24 10:05] #180 closed

[2018-10-31 10:43] pavolloffay commented on #69
Done in #182

[2018-10-31 10:43] #69 closed

[2018-10-31 10:50] ddcprg commented on #69
thanks @pavolloffay

[2018-11-14 19:32] ledor473 opened #183 "@Async instrumentation not working when using AsyncConfigurerSupport"
I've found that if `AsyncConfigurerSupport` is used like below, `CustomAsyncConfigurerAutoConfiguration` won't intercept it:
[code]

I'm using this version (which is the latest for SB 1.x)
[code]

[2018-11-15 11:06] pavolloffay commented on #183
hi @ledor473 would you like to submit a patch for this?

[2018-11-15 16:47] KaiStapel opened #185 "Memory leak in TraceAsyncAspect due to not closing scopes"
#145 introduced a memory leak.

The scope created by `this.tracer.buildSpan(operationName(pjp))[...].startActive(false)` is never closed as it is outside of the try-finally-block. This results in never ending `ThreadLocalScope` chains which eventually will slow down the service to an unusable state due to very high GC activity.

![screen shot 2018-11-14 at 11 23 41](https://user-images.githubuserc

[2018-11-15 22:34] ledor473 commented on #183
I tried for some time and wasn't able to find a way to make it work.

[2018-11-16 04:55] tanumats commented on #92
Our team wants to output trace IDs and span IDs propagated by Opentracing clients in the log, but because they are not compatible with the current function, we are very interested in the agenda.
What will be the future expansion?

[2018-11-16 05:01] tanumats commented on #150
In order to measure Sprign Cloud Gateway with Opentracing, it is necessary to support the following technology.
· Webflux
· Netty
· Servlet 3.1
Since Opentracing's corresponding technology is not clear, we can not judge whether it is supported by the current version,
As a result of verification in the client environment of Spring Cloud Gateway and Opentracing, tracing was not done.
We assume that

[2018-11-19 19:39] yurishkuro commented on #179
Duplicate of #92

[2018-11-27 09:17] KaiStapel commented on #185
Hello, is this project still maintained? @pavolloffay

Who could have a look at my pull request?

[2018-11-27 09:42] pavolloffay commented on #185
hi @KaiStapel it is maintained. I will review soon.

[2018-11-30 08:37] #185 closed

[2018-11-30 10:01] pavolloffay commented on #98
@ledor473 could you please describe use-cases when you are using this annotation?

[2018-12-01 01:45] ledor473 commented on #98
Most of our use of the annotation is to easily create a span around a project-specific feature. The fact that it's an annotation makes it super easy to add valuable traces. You don't have to modify every function with a `try-with-resources` directly in the function.

Most of the usage are to highlight what is happening **between** the inbound call and the underlying database or the outgoing call.

[2018-12-03 14:16] gytis opened #187 "Upgrade to Spring Boot 2.1.1.RELEASE"

[2018-12-10 17:35] julmuell commented on #183
I have came across the same issue. It's not possible to use `BeanPostProcessor` in order to process `AsyncConfigurer` before they get used.

[2018-12-10 17:41] julmuell opened #188 "Library silently enables Async"
The configuration class `DefaultAsyncAutoConfiguration` enables `@Async` by using `@EnableAsync`. Is this a good pattern? I didn't expected that the library for instrumenting code is activating this functionality (per default). I would expect that the library set's up a proper configuration but doesn't enable it.

I have stumpled over this issue because we deactivated `@Async` for one environment

[2018-12-10 20:56] pavolloffay commented on #188
Is async enabled even if `opentracing.spring.cloud.async.enabled` is set to false? This property is defined on `DefaultAsyncAutoConfiguration`. The other question is if we can enable async programmatically.

[2018-12-10 20:57] pavolloffay commented on #183
Any other suggestions on how to solve this issue?

[2018-12-11 12:43] dozer47528 commented on #173
Actually, I think it's hard for `opentracing-spring-cloud-jdbc-starter` to fix this issue.
`opentracing-spring-cloud-jdbc-starter` should follow the standard of JDBC, this behavior implemented by `mysql-connector-java`.

I resolved this issue by add this argument to mysql jdbc url:
[code]

After changing `useHostsInPrivileges` to `false`, `mysql-connector-java` can get the username from memory dir

[2018-12-13 20:01] mchandramouli opened #189 "starter project for Haystack"
How - how do we go about adding a spring cloud starter project for [Haystack](https://expediadotcom.github.io/haystack/)?   We will be happy to contribute and maintain that project. Alternately, we can host it in Expediadotcom org and issue an update to your documentation. Let me know

[2018-12-21 15:07] pavolloffay commented on #189
This is just instrumentation. You can use it with any OpenTracing compatible tracer and create integrations like these:

https://github.com/opentracing-contrib/java-spring-zipkin
https://github.com/opentracing-contrib/java-spring-jaeger

Or is there something else required to make it work with Haystack?

[2018-12-28 00:21] mchandramouli commented on #189
@pavolloffay [Haystack](https://expediadotcom.github.io/haystack/) is an opentracing compatible tracer.  I am adding a springboot integration similar to what you have for zipkin and jaeger in opentracing-contrib.  Should I just issue pull for your documentation adding Haystack's integration as well or do you prefer I move my integration library to opentracing-contrib?  similar to zipkin and jaeger

[2019-01-03 15:46] pavolloffay commented on #189
@mchandramouli as you prefer we can move the repo to opentracing-contrib or just add docs with the repo location to this repository.

[2019-01-04 06:04] mchandramouli commented on #189
Great. Here is our README link https://github.com/ExpediaDotCom/haystack-client-java/tree/master/integrations/opentracing-spring-haystack-web-starter

[2019-01-04 11:59] pavolloffay commented on #189
Thanks for the pointer, you are welcome to create a PR and add it to https://github.com/opentracing-contrib/java-spring-cloud#configuration.

[2019-01-09 09:54] wuyupengwoaini commented on #173
I think the userName is not necessary at all,because normally application accesses the database by a fixed user. And then we can replace the userName by database ip and port because this is helpful to draw topology.

so the opentracing-jdbc project should support more info about database such as  database ip and port

In design level, I think opentracing-jdbc is not flexiable beacuse of it's const

[2019-01-09 09:55] wuyupengwoaini commented on #173
@jpkrohling

[2019-01-11 15:54] holledauer opened #190 "RedisAutoConfiguration order"
The RedisAutoConfiguration is running before the RedisConnectionFactory is created. The RedisConnectionFactory is created by the spring-boot-starter-data-redis autostarter.

[code]

Would a @AutoConfigureAfter(org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration) in io.opentracing.contrib.spring.cloud.redis.RedisAutoConfiguration fix this?

[2019-01-14 03:11] wuyupengwoaini opened #191 "Is there an example project to explain how to use java-spring-cloud"
I want to use opentracing in my project and luckily i found this project,But i found it is a little hard for me to instrument java-spring-cloud project to my project,beacuse i use springboot 1.5.x and i dot not konw which version shuold i nedd .And also  because of the optional dependencies ,i don not konw which artifactId i should  import.So i hope for an example project to me and all develpoers

[2019-01-14 03:18] wuyupengwoaini opened #192 "Add support for Redis for SB 1.x"
Now i use springboot1.5.x and i need to trace redis access,but i found i latest version of opentracing-spring-cloud-starter is not suitable for me because of the springboot 2.0.x version used by latest version of opentracing-spring-cloud-starter.And later i found Branch SB-1.x  uses springboot 1.5.12.RELEASE ,but it has no function to trace redis.

So i want to kown is there a plan to support spri

[2019-01-14 06:20] wuyupengwoaini commented on #173
Now,TracingConnnection receieve a ConnectionInfo Object containing all the database information(instance,ip,port,type,username).So username is not required.And then we can reslove the database information by parse the jdbc url.For example the skywalking is doing so.

https://github.com/apache/incubator-skywalking/blob/master/apm-sniffer/apm-sdk-plugin/jdbc-commons/src/main/java/org/apache/skywalki

[2019-01-16 15:54] pavolloffay commented on #192
SB 1.x is still supported we can push redis to that branch.

[2019-01-16 15:55] pavolloffay commented on #173
@wuyupengwoaini would you like to contribute a fix with your solution?

[2019-01-16 15:56] pavolloffay commented on #190
Probably yes, could you please try if it works and submit a patch?

[2019-01-16 15:59] pavolloffay commented on #191
Closing as it is an duplicate of #104

The section https://github.com/opentracing-contrib/java-spring-cloud#configuration provides information how this library can be configured. If you have better suggestions what the section should contain please comment or submit a PR with a fix.

[2019-01-16 15:59] #191 closed

[2019-01-17 01:49] wuyupengwoaini commented on #173
Ok, i'll try to fix it within a few days

[2019-01-17 02:19] wuyupengwoaini commented on #192
Thanks ,it is a good news for all develpoers who are using 1.x version springboot

[2019-01-17 08:57] pavolloffay commented on #192
I have tried to backport redis to 1.x. However the problem is that underlying instrumentation is done for SB 2.x. The issue is tracked here https://github.com/opentracing-contrib/java-redis-client/issues/28

[2019-01-17 09:02] pavolloffay commented on #190
See the problems related to redis on SB 1.5 in https://github.com/opentracing-contrib/java-spring-cloud/issues/192.

We can still submit the patch to master for SB 2.x

[2019-02-11 06:17] wuyupengwoaini opened #196 "Question about redis and jdbc instrument"
I find when can not get redis/jdbc connection ,the tracer do nothing(no span and no error span).  I view the source and I find the root cause that we trace the redis/jdbc access after we get redis/jdbc connection

So, I am confused that we should report error span when we can not get redis/jdbc connection

[2019-02-13 05:51] wuyupengwoaini commented on #196
@pavolloffay  @malafeev

[2019-02-13 06:00] wuyupengwoaini commented on #173
@pavolloffay  please help me to review the pr

[2019-02-13 12:19] malafeev commented on #196
when we get connection we don't create span, therefore there is no error span.
but do we need to do it?
you will see  many alone spans which purpose only to show connection status.

[2019-02-13 13:48] jpkrohling commented on #196
If the connection request is part of a bigger transaction, then sure. But if it's a typical connection pooling mechanism, where a background thread opens/closes/checks the connection, then no.

[2019-02-13 14:02] malafeev commented on #196
should we check if there is an active span and if there is one then create span?

[2019-02-15 14:55] NikitoZZZZZ opened #197 "Question: hystrix span creation under existing scope's span is not working"
Hi everyone.
I instrumented my code with creating new span with help of **io.opentracing.Scope** class (jar version - _0.31.0_). Then I added hystrix support with **io.opentracing.contrib.spring.cloud.hystrix.TracedHystrixCommand** (dependency _opentracing-spring-cloud-hystrix-starter_, version _0.2.2_). I am using jaeger implementation of opentracing API (version _0.27.0_). Spans are showing in t

[2019-02-18 06:45] wuyupengwoaini opened #198 "TracedHystrixCommand tag error span"
https://github.com/opentracing-contrib/java-spring-cloud/blob/c30a105945edcb045d28d47f435a978805bd08ff/instrument-starters/opentracing-spring-cloud-hystrix-starter/src/main/java/io/opentracing/contrib/spring/cloud/hystrix/TracedHystrixCommand.java#L39-L51

when error occurs,it shuold report error span instead of do nothing

[2019-02-18 09:30] wuyupengwoaini commented on #196
As for me ,I think "getConnection" is a part of transaction,so there should be only one span and "getConnection" should be first step which can be recorded in opentracing log.If not so,it is so weird for user ,beacuse he/she can not get any error span or error log ,and also it is so hard for him/her to survey problem

[2019-02-18 15:15] #173 closed

[2019-02-18 15:17] pavolloffay commented on #198
@wuyupengwoaini would you like to submit a patch?

This should be fairly simple fix

[2019-02-18 15:19] pavolloffay commented on #197
@NikitoZZZZZ it all depends on your code. Ideally, spans should be grouped to represent one transaction.

[2019-02-18 15:21] pavolloffay commented on #197
Are you using this library via auto-configurations or do you initialize it somehow manually?

When the trace is broken it usually means that in process context propagation is broken - e.g. on new thread there is no parent span present in thread local storage. This is used to propagate the context in hystrix https://github.com/opentracing-contrib/java-spring-cloud/blob/d67aa3268e8556c70935a4c89fd7d

[2019-02-19 01:29] wuyupengwoaini commented on #198
@pavolloffay OK,I'll fix it today

[2019-02-19 01:40] wuyupengwoaini commented on #198
By the way ,I am confused about the issue https://github.com/opentracing-contrib/java-spring-web/pull/79

could you tell me the real reason of the span finishes before server

[2019-02-19 01:59] wuyupengwoaini commented on #198
fixed,https://github.com/opentracing-contrib/java-spring-cloud/pull/199

[2019-02-19 07:52] NikitoZZZZZ commented on #197
I extended class **TracedHystrixCommand** and that's all. I've just discovered that all spans are grouped under one flow when I'm using zipkin but in jaeger they are separated. Unfortunately I can't post screenshots to show this due to NDA.

[2019-02-19 08:22] pavolloffay commented on #197
Did you register `TracingConcurrencyStrategy.register(tracer)`?

It seems like a bug in instrumentation on your side. It's hard to help without a simple reproducer.

[2019-02-19 08:32] pavolloffay commented on #198
Done in #199

[2019-02-19 08:32] #198 closed

[2019-02-19 08:40] NikitoZZZZZ commented on #197
I'll try it out, thank you. Can't do it right now. I'll leave a comment here if it will help me or not.

[2019-02-19 14:07] pavolloffay commented on #178
Hi @alvarolop do you still have an issue? This library provides auto-configurations so you don't have to create tracing filter and interceptor by yourself all you have to do is to provide a tracer bean like you did in your example or you can use vendored starters https://github.com/opentracing-contrib/java-spring-cloud#configuration

I will close this now. Fell free to reopen is there is an issue.

[2019-02-19 14:07] #178 closed

[2019-02-19 14:08] pavolloffay commented on #192
The support for redis has been added to SB1.x in 0.1.x branch

[2019-02-19 14:08] #192 closed

[2019-02-20 12:03] #190 closed

[2019-02-23 01:11] csabakos commented on #150
I have a PR for this in `opentracing-spring-web`: [#95](https://github.com/opentracing-contrib/java-spring-web/pull/95)

[2019-03-12 19:37] ask4gilles opened #201 "Update java-spring-rabbitmq to 0.1.1"

[2019-03-13 08:06] #201 closed

[2019-03-14 18:27] ask4gilles commented on #187
@gytis @pavolloffay any plans to move forward on SB 2.1+/Greenwich?
(Seems quite a big change though :) )

[2019-03-18 15:37] ghilainm commented on #5
@pavolloffay any idea when KafkaTemplate will be supported?

[2019-03-19 09:28] wuyupengwoaini opened #203 "Bug Report jdbc generate duplicated span"
https://github.com/opentracing-contrib/java-spring-cloud/blob/0c5239f5674e50aacd8aa4dc537f159f862f0019/instrument-starters/opentracing-spring-cloud-jdbc-starter/src/main/java/io/opentracing/contrib/spring/cloud/jdbc/JdbcAspect.java#L52-L59

When I use a datasouce implements AbstractRoutingDataSource which contains two kind of datasouces (write datasource and read datasource),and I find it will gen

[2019-03-20 19:09] ghilainm opened #206 "Adding support in opentracing for Couchbase"
I don't know if it is the right place, but I feel like support for couchbase in opentracing-contrib would be nice :).

[2019-03-21 10:26] jpkrohling commented on #206
I don't think this is the right place. I'm closing this issue, but here's what you can do from here:

If you have a concrete integration that you'd like to contribute as a new repository inside the `opentracing-contrib` organization, I can certainly help you.

If you are requesting such integration, it might be interesting to join the [OpenTracing Gitter room](https://gitter.im/opentracing/public)

[2019-03-21 10:26] #206 closed

[2019-03-25 08:23] #203 closed

[2019-03-27 12:41] martinpritchard opened #207 "Spring Integration Framework conflict"
I have a Spring Boot project that uses Spring Integration Framework to provide a simple HTTP Proxy (code below).  If `opentracing-spring-cloud-starter` is included in my pom, the when making an HTTP request an Exception is thrown - for some reason it is unable to find the Reply Channel.  If opentracing is not in the pom, everything works as expected.

**Exception:**
[code]

I have managed to whitt

[2019-03-29 15:48] ask4gilles commented on #187
Is somebody working on this?

[2019-03-29 16:25] ghilainm commented on #206
@jpkrohling I would like to add a new starter to support couchbase also. Couchbase already support opentracing but I would like to add Spring Boot auto configuration support.

[2019-04-10 12:34] pavolloffay commented on #206
Is the couchbase starter part of the spring upstream?

[2019-04-10 12:35] pavolloffay commented on #187
I don't think anybody is looking into this? @ask4gilles would you like to contribute this change?

[2019-04-10 13:27] ask4gilles commented on #187
@pavolloffay I can give it a shot yes: it's quite involving though regarding Netflix libs moved to spring cloud, but I'll do my best.

[2019-04-10 15:24] ask4gilles commented on #187
@pavolloffay Here you are. Readme and travis file probably need to by updated. Can you do that?

[2019-04-12 03:21] sudr commented on #187
I'm also interested in this. There are other libraries like opentracing that I'd also like to receive the newer versions. Please let me know how I can contribute to this.

[2019-04-12 13:03] larchanjo commented on #48
I am in doubt, this issuer https://github.com/opentracing-contrib/java-spring-web/issues/98 is the same approach?

[2019-04-16 12:04] hotdust opened #210 "Bug Report jdbc generate duplicated span. like #203"
# Bug
If import opentracing-spring-cloud-jdbc-starter dependency, and configure `driver-class-name: io.opentracing.contrib.jdbc.TracingDriver` at the same time, then duplicated span will be generated.

version: master(0.2.5-SNAPSHOT)

<img width="723" alt="jdbc-starter-bug_1" src="https://user-images.githubusercontent.com/18543769/56207328-0ad09400-6081-11e9-892d-afcbc01e2a21.png">
<img width="522

[2019-04-17 06:32] #48 closed

[2019-04-17 13:33] pavolloffay commented on #210
@hotdust thanks for reporting? Do you want to report a fix for this?

[2019-04-17 17:52] ask4gilles commented on #150
This can probably be closed as it has been fixed by the issue mentioned here above.

[2019-04-17 19:25] pavolloffay commented on #150
thanks @ask4gilles

[2019-04-17 19:25] #150 closed

[2019-04-17 19:30] #187 closed

[2019-04-22 05:17] ask4gilles commented on #104
@wittwerch https://github.com/opentracing-contrib/java-spring-web/pull/100 should fix your issue automatically in the next release 🙂

[2019-04-24 06:05] hotdust commented on #210
@pavolloffay thanks for reply. I made a PR(#211). Please check that PR when you have time.

[2019-04-24 09:07] pavolloffay commented on #207
@gytis any idea why this is happening?

[2019-04-24 09:09] pavolloffay commented on #210
thanks @hotdust

[2019-04-24 09:19] gytis commented on #207
Not sure but maybe there is an issue with upgrade to SB 2.1 in java-spring-messaging? @martinpritchard do you get the error if you add this to the opentracing-spring-cloud-starter dependency:
[code]

[2019-04-25 09:41] martinpritchard commented on #207
@gytis if I add the exclusion, it works as expected.

[2019-04-25 09:49] pavolloffay commented on #207
Is there a way to add a generic fix? Should the java spring messaging be updated to SB 2.1? https://github.com/opentracing-contrib/java-spring-messaging/blob/master/pom.xml#L63

[2019-04-25 11:32] gytis commented on #207
Yeah we should look into upgrading java-spring-messaging, the issue might be in there.

[2019-04-26 10:03] chengchen opened #214 "Reactor decorator added too late"
Hello,

We are trying to replace Spring Clould Sleuth by your opentracing solution. In general, it works mostly fine 👍 Thanks a lot for the great work!

However, we have encountered an edge case when Reactor schedulers might not be decorated with `TracedScheduledExecutorService`, even if the lambda is added by `ReactorTracingAutoConfiguration`.

To be able to easily explain the problem, I forked y

[2019-04-26 10:56] pavolloffay commented on #214
@chengchen thanks for reporting and investigation. Would you be able to submit a PR(s) with the required changes? It's easier to discuss on the PR.

@csabakos would you be able to have a look?

[2019-04-26 11:24] chengchen commented on #214
@pavolloffay Thanks for the quick reply. I would have already create a PR if it concerns only this project. As I have mentioned, it requires changes in opentracing-reactor and opentracing-concurrent as well... Otherwise, the project won't compile. Anyway, the core changes are reflected in the link I provided. If this change makes sense to you, I could prepare more elaborated PR(s).

[2019-04-26 11:33] pavolloffay commented on #214
I am not very familiar with the reactor, therefore I would defer on @csabakos. I would also say if it follows sleuth approach it's probably good.

The changes to all mentioned projects should be discussed there as they are reused across various instrumentations.

[2019-04-26 13:35] chengchen commented on #214
@pavolloffay @csabakos

Corrections:
Modifications in `opentracing-concurrent` is actually not necessary, since the decorator is already defined as a `Function`. I could just do:

[code]

And the changes in `opentracing-reactor` could be retro-compatible without breaking any current APIs (just add a method which supports `Supplier<Tracer>`.

[2019-04-26 18:20] csabakos commented on #214
Hi @chengchen, thank you for reporting the issue!

I took a look at your branch. The direction looks good. I have a few suggestions:
- The proposed change won't work in case the bean factory (application context) hasn't been refreshed yet. [Sleuth properly handles that case](https://github.com/spring-cloud/spring-cloud-sleuth/blob/master/spring-cloud-sleuth-core/src/main/java/org/springframework/c

[2019-04-29 10:03] chengchen commented on #214
Hello @csabakos thanks for the quick reply!

Don't worry about the checkstyle :) I just wanted to test something quickly so I commented out directly your checkstyle plugin on my branch... I will prepare another PR if you are ok with this modification.

Regarding the first point, I do have noticed this implementation from Spring Sleuth side, but I didn't find the situation when this line could retu

[2019-04-29 16:03] csabakos commented on #214
@chengchen I agree that we can kick this can down the road. We should just check `isActive` and log an error and do not call `getBean()` if it's not active.

I don't think we should throw an exception if Reactor is used "too early". The last thing I would want from instrumentation is for it to throw exceptions. :) I think logging an error is sufficient.
(For example, the call to Reactor might be c

[2019-04-29 20:17] chengchen commented on #214
@csabakos I definitely want to do that :) But As I said, I can not find a case when `isActive` returns false after this hook is applied, which means I will be writing some code that I don't know when it will be used.

In other words, if you can help me to write a test case which will fail my test or return false for `isActive` method call. I am more than happy to fix that test :)

Besides, I have

[2019-04-29 20:41] csabakos commented on #214
@chengchen The lazy operators were introduced as a fix for https://github.com/spring-cloud/spring-cloud-sleuth/issues/866 so I'm assuming that it's not just dead code and there are some configurations out there in which the "not active bean factory" code path is useful. That said, I don't know off the top of my head how to construct a test case that reproduces the issue.

I think we don't have to

[2019-05-02 11:19] chengchen opened #218 "Buggy opentracing-spring-messaging 0.0.5"
Hello,

I was waiting for this issue #212 for quite some time to resolve some bug I found in `opentracing-spring-messaging`. I am wondering if we can bump the version from 0.0.5 to 0.1.1 in the release of 0.2.5 at first? Then you could use 0.3.0 for the version which uses opentracing 0.32.0?

If this makes sense to you guys, I can prepare the PR.

Many thanks!

Chengchen

[2019-05-02 12:40] pavolloffay commented on #218
If  0.1.1 is based on OpenTracing 0.31.0 you can open a PR

[2019-05-02 12:43] pavolloffay opened #219 "Skip pattern from web instrumentation could not be instantiatized"
I have updated web instrumentation to the latest in #212 and now I am getting the following exception in  `instrumentation-starters/zull`. The change is likely related to https://github.com/opentracing-contrib/java-spring-web/pull/100

@ask4gilles @geoand could you please have a look at it?

[code]

[2019-05-02 13:08] pavolloffay commented on #219
The issue is here

https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web-starter/src/main/java/io/opentracing/contrib/spring/web/starter/SkipPatternAutoConfiguration.java#L92

[2019-05-02 13:12] #218 closed

[2019-05-02 13:54] ask4gilles commented on #219
@pavolloffay @geoand I'm on it.

[2019-05-02 14:19] geoand commented on #219
Cool, I'm on PTO so I won't be able to check it for a few days.

On Thu, May 2, 2019, 15:55 Gilles Robert <notifications@github.com> wrote:

[2019-05-02 16:31] ask4gilles commented on #219
@pavolloffay fixed by linked issue in web.

[2019-05-03 09:34] pavolloffay commented on #219
thanks @ask4gilles I have merged and cut 2.1.0

[2019-05-05 10:00] bromine0x23 commented on #210
This change cause Oracle JDBC Driver throw an exception

stack:
[code]

The reason is that the `OracleConnection#isWrapperFor` throw exception if the given class parameter is not an interface

[2019-05-06 08:51] pavolloffay commented on #210
@bromine0x23 is there a way to fix it for oracle driver?

[2019-05-06 11:36] #219 closed

[2019-05-06 11:36] pavolloffay commented on #214
done in #216

[2019-05-06 11:36] #214 closed

[2019-05-06 11:37] pavolloffay commented on #197
@NikitoZZZZZ do you have any update?

[2019-05-06 11:38] pavolloffay commented on #207
done in #212

[2019-05-06 11:38] #207 closed

[2019-05-06 14:54] bromine0x23 commented on #210
@pavolloffay simply capture the exception?

The Oracle's implement is simple and like that (checked from _ojdbc6#11.2.0.4_ to _ojdbc8#18.3_):
[code]

It seems there's no way to avoid the exception.

[2019-05-06 15:15] pavolloffay commented on #210
We could capture it but I guess it would have a perf impact when running that code. It might be worth opening a bug against oracle.

[code]

[2019-05-06 15:22] bromine0x23 commented on #210
I guess we use `isWrapperFor` in a wrong way, since the parameter `iface` require an interface.

[2019-05-07 11:29] NikitoZZZZZ commented on #197
@pavolloffay sorry for such long time reply. I didn't test it 'cus I was assigned to another task so I didn't have capacity to do that, sorry.

[2019-05-13 12:11] nielsvn92 commented on #98
Hi,

I'm currently struggling with the same issue. Adding an `@Traced` annotation would be extremely helpful, because I don't want to keep writing the same `try-with-resources`, including the additional indentation. This allows me to keep focusing on business logic, instead of cross-cutting concerns.

Can anybody tell me if this is going to be implemented or not?

[2019-05-13 13:22] ledor473 commented on #98
@nielsvn92 I can look into rebasing the code from https://github.com/opentracing-contrib/java-spring-cloud/pull/184 and re-submit it.

[2019-05-17 20:21] birdli66 commented on #210
Yes, I think you use it in a wrong way:
The java.sql.Wrapper methods were introduced to unify jdbc and datasource to return the same physical connection.

You should just drop the bugfix you did here and tell the developer using your library to not use aspect-oriented approach with pointcut and manual configuration with TracingDriver at the same time (that certainly leads to 2 spans).

You should

[2019-05-20 06:58] birdli66 commented on #210
If you want to keep this duplicate span detection: Workaround what drivers are doing by meeting their preconditons, in this case tagging your TracingFilter with a ITracingFilter and query for that.
I do not like that much though so will not make a PR for that.

[2019-05-20 09:35] pavolloffay commented on #210
@hotdust is there a particular reason why you directly configure `driver-class-name: io.opentracing.contrib.jdbc.TracingDrive`? Could you rely only on the aspect defined in this project?

[2019-06-06 12:14] ZawadaZSE opened #225 "Exceptions thrown by Executor are wrapped in UndeclaredThrowableException."
Hello,

I've been trying to use ThreadPoolExecutor with limited queue size for REST requests processing. Unfortunately, with tracing enabled RejectedExecutionException is wrapped into UndeclaredThrowableException.

I've googled a little and I've found similar bug raised for [spring-cloud-sleuth](https://github.com/spring-cloud/spring-cloud-sleuth/issues/1092).

Here is a [stack_trace.txt](https://

[2019-06-06 12:19] pavolloffay commented on #225
hi @ZawadaZSE, thanks for reporting this issue.

Would you like to submit a patch for it?

[2019-06-07 06:13] ZawadaZSE commented on #225
Sure ;)

[2019-06-11 08:10] ZawadaZSE commented on #225
The issue is fixed, any idea when can we get this merged?

[2019-06-11 09:30] pavolloffay commented on #225
Done in #226.

thanks @ZawadaZSE.

I will cut a new version now.

[2019-06-11 09:30] #225 closed

[2019-06-11 15:02] birdli66 commented on #210
@hotdust you problem made it into a bugfix affecting other solutions so you could at least answer the above question?

[2019-06-12 08:03] ZawadaZSE commented on #225
I've noticed that it has been published in the snapshot version. Can we release it as a regular?

[2019-06-12 08:12] pavolloffay commented on #225
my bad I have pushed a wrong tag, triggering release again

[2019-06-13 16:25] bono007 opened #228 "ThreadPoolTaskScheduler fails to be injected when wrapped with an aspect"

[2019-06-13 16:40] bono007 commented on #228
# Problem:
If a Spring Boot application is using `@EnableScheduling` and there is an `@Aspect` wrapped around the `ThreadPoolTaskScheduler` then startup of the application fails during injection of the scheduler with messages similar to ...

[code]
# Repro steps
* Add `@EnableScheduling` to Spring Boot app
* Add the following injection to anywhere in the app
[code]
* Create the following configura

[2019-06-13 16:56] bono007 commented on #228
### Workaround
In the scenario described above, instead of injecting to type `ThreadPoolTaskScheduler`, inject to type `TaskScheduler` as the JDK proxy returned by opentracing is in fact able to use `TaskScheduler`.

[2019-06-13 17:08] bono007 commented on #228
Here is a SpringBoot integration test that displays the issue. I attempted to push as user branch but do not have permissions to do so.
[ProxiedThreadPoolTaskSchedulerTest.txt](https://github.com/opentracing-contrib/java-spring-cloud/files/3287284/ProxiedThreadPoolTaskSchedulerTest.txt)

[2019-06-13 17:09] bono007 commented on #228
@pavolloffay I would love to get your feedback on this one. Thanks.

[2019-06-13 19:00] bono007 commented on #228
BTW - I would definitely be interested in contributing and submitting a PR for the fix, just need some direction on the above proposals.

[2019-06-17 02:44] hotdust opened #229 "Application run failed when spring boot project without spring-web dependency"
# Dependencies
## Opentracing
[code]
## Spring boot
[code]

# Error Log
[code]

# Others
if add `spring-web` dependency, error above disappears, but another error occurs (maybe about spring dependencies).

[2019-06-17 10:40] ZawadaZSE opened #230 "Add full instrumentation support for ExecutorService"
Hi,

Currently, ExecutorService is supported only because it extends the Executor interface. Traces are propagated correctly when the execute method is being used.

I'd like to have full instrumentation for ExecutorService implementations (e.g. submit, invoke)
I can create PR with that but I feel like we should agree first how to approach this topic.

Br,
Kuba

[2019-06-17 11:50] pavolloffay commented on #230
Hi @ZawadaZSE

I can create PR with that but I feel like we should agree first how to approach this topic.

Do you mean to create spans or just propagate them downstream?

[2019-06-17 11:53] pavolloffay commented on #229
Could you please to use `0.3.2` version?

[2019-06-18 01:00] hotdust commented on #210
@pavolloffay I am not familiar with github message. I'm very sorry for the very late reply.

1, > @hotdust is there a particular reason why you directly configure driver-class-name: io.opentracing.contrib.jdbc.TracingDrive? Could you rely only on the aspect defined in this project?
Yes, I use aspect in prod environment.
when researching jaeger, aspect was not worked for me at beginning, I tried to

[2019-06-18 06:27] hotdust commented on #85
Is it avaliable that tracing between spring cloud gateway and spring cloud service?
I tried opentracing-spring-web-starter 2.1.0, it can trace gateway request and service separately, but not connected.

[2019-06-18 06:59] ZawadaZSE commented on #230
I would propose to add another branch in ExecutorBeanPostProcessor.postProcessAfterInitialization which would check if bean is a ExecutorService. If so then we should use TracedExecutorService instead of TracedExecutor.

[2019-06-18 07:55] hotdust commented on #229
@pavolloffay thanks for reply.
using 0.3.2 version, it worked.
but there is another problem, maybe not relate to previous problem. if it's better to open new issue, I will do it.

# Problem
AbstractAsyncConfiguration throws exception:

# Reason
DefaultAsyncAutoConfiguration generate a AsyncConfigurer, and project framework(org.springblade) generates a AsyncConfigurer too. two AsyncConfigurer  caus

[2019-06-18 08:34] pavolloffay commented on #85
Probably context propagation is broken somewhere. @hotdust would you be able to investigate and submit a PR?

[2019-06-18 08:35] pavolloffay commented on #230
Would you interested in submitting a PR for it?

[2019-06-18 08:36] pavolloffay commented on #229
Glad to see that update worked. Would you be interested in submitting a PR to fix it?

[2019-06-18 08:43] ZawadaZSE commented on #230
Sure!

[2019-06-18 08:56] ZawadaZSE commented on #230
Is there a step in release missing? I've noticed that every release had two commits:
* [maven-release-plugin] prepare release 0.3.X
* [maven-release-plugin] prepare for next development iteration
The second one is missing currently.

[2019-06-18 09:08] pavolloffay commented on #230
The release process is described well. The commit is not there because the previous build failed which created the tag. I will add the commit back.

[2019-06-18 09:39] birdli66 commented on #210
Thx @hotdust, make sense...my conclusion:
1. Fix that breaks Oracle is not required anymore
2. Not relevant in this context (RestTemplate allows querying the interceptor chain, DataSource, where JdbcAspect is applied, does not)
3. You test what you use it for, Oracle needs to be at hand to rellay test it

Which means:
- Reverting the change for Oracle is fine
- To make it more robust, a duplicate

[2019-06-18 09:46] pavolloffay commented on #210
@birdli66 feel free to open a PR.

About the zipkin project I am not sure, I would recommend pinging maintainers there.

[2019-06-18 11:53] hotdust commented on #210
@birdli66 thanks for you advice and how to modify it.
1，> Not relevant in this context (RestTemplate allows querying the interceptor chain, DataSource, where JdbcAspect is applied, does not)

In my personal opinion, it's not concern to specific tech implement. it's better that xxx-starter have no side effect on project use it. maybe this is one of reason why springboot provide a lot of annotation(

[2019-06-18 12:35] birdli66 commented on #210
I'm fine with the revert, we stay on 0.2.4 anyway because of the above 'Upgrade to opentracing/0.32.0 and spring-boot 2.x #8' issue. Will look at this again when opentracing project is more stable again.

[2019-06-18 18:24] williamokano commented on #230
@ZawadaZSE what version are you using? The java-concurrent already implement `submit` support for `TracedExecutorService` as you can see here: https://github.com/opentracing-contrib/java-concurrent/blob/master/src/main/java/io/opentracing/contrib/concurrent/TracedExecutorService.java

[2019-06-19 06:59] ZawadaZSE commented on #230
Yup, and I'm using it in this change ;)

[2019-06-28 18:34] bono007 commented on #230
🎉  This should fix an issue I opened a couple weeks back that is caused by the fact that ThreadPoolTaskScheduler goes down the Executor code path. https://github.com/opentracing-contrib/java-spring-cloud/issues/228 .

I looked into what has been done w/in Sleuth for this same feature and was planning on submitting a PR too. I was waiting on feedback/direction on some questions I had on my ticket.

[2019-07-02 06:38] bitsmag opened #232 "ProxyAsyncConfiguration bean has already been defined"
Hi,

I started with `opentracing-spring-web-starter` and would like to swith to `opentracing-spring-cloud-starter` because I need to trace mongoDB queries as well.

I changed the dependencies and added `spring-cloud-dependencies` & `opentracing-spring-cloud-mongo-starter` as well.

Here is my complete `pom.xml`

    <?xml version="1.0" encoding="UTF-8"?>
    <project xmlns="http://maven.apache.org

[2019-07-04 12:38] bitsmag commented on #232
Works after switching to spring boot 2.1.5, opentracing-spring-cloud-starter 0.3.2 and jaeger-client 0.35.5 (figured it out by trial and error).

[2019-07-04 12:38] #232 closed

[2019-07-15 17:24] bono007 commented on #230
@ZawadaZSE what do you think about my suggestion above?

[2019-07-29 14:17] alextrs opened #234 "Can't send JMS messages, getting 'uber-trace-id' is not a valid java identifier."
Using spring-integration and after added the opentracing starter:
[code]
started to get errors:
[code]

Accordingly to this ([see at the bottom](https://github.com/opentracing-contrib/java-jms)) all dashes should be replaced with _$dash$_ but this is not happening. When I try to use raw opentracing java-jms it works as expected

I created [repo](https://github.com/alextrs/opentracing-issue) that c

[2019-07-29 14:26] pavolloffay commented on #234
Could you please try 0.2.6 version?

If the java-jms works we are probably using a wrong version? Are you interested in submitting a fix for this?

[2019-07-29 15:08] alextrs commented on #234
I tried 0.2.6 and also the latest version, but still getting the same error
[code]

Yep, I will submit a fix once I know what's wrong with it

[2019-08-07 21:22] countableSet opened #236 "Websocket TracingChannelInterceptor throws UnsupportedOperationException"
Behavior: TracingChannelInterceptor now throws UnsupportedOperationException
[code]
Expected: No exception?

Cause: https://github.com/opentracing-contrib/java-spring-cloud/commit/143f2869851d88eb15ed3fffc1dd05e12049c30b#diff-0858dab10634b9393abc8e3075dd474aR123

Fix?
Remove has been unsupported a [long time](https://github.com/spring-projects/spring-framework/blame/a532afb15d298f2114d6072f0d29138

[2019-08-09 08:26] pavolloffay commented on #236
+1 Would you like to submit a fix for it?

[2019-08-10 13:28] sydneyhenrard opened #238 "Span with span.kind set to client are ignored by Elastic APM"
When an actuator is called, the span is ignored by Elastic APM because the `span.kind` is to `client`.
[code]
You can see Elastic APM code:

https://github.com/elastic/apm-agent-java/blob/a4f6c1ce8951f53b5b6306ab43b9de4f13cf5ca8/apm-agent-plugins/apm-opentracing-plugin/src/main/java/co/elastic/apm/agent/opentracing/impl/ApmSpanBuilderInstrumentation.java#L105

[2019-08-10 13:33] sydneyhenrard opened #239 "Customize naming of span for Spring MVC"
The span name for a `RestController` is the name of the method. It would be nice to be able to configure it to something like `ClassName#methodName`. The name would help to distinguish the same method name but from different controllers.

[2019-08-12 13:27] sydneyhenrard commented on #238
It was a mistake I call an actuator but the actuator tracing is disabled by default. When enabling it I can see the trace.

[2019-08-12 13:27] #238 closed

[2019-08-22 02:37] countableSet commented on #236
Hi @pavolloffay I've made a pr with a possible fix. Just curious when it might make it in.

[2019-08-22 09:20] #236 closed

[2019-08-22 18:08] countableSet opened #241 "Release 0.3.3 missing from maven central?"
Hi 👋  just curious if there was an issue with travis ci and the release of `0.3.3`. Looks like the  commit didn't get a build and thus wasn't released to maven central.

https://github.com/opentracing-contrib/java-spring-cloud/commit/3ae85befe404ba6fb190e78d96a9a9801d90e9cd

[2019-08-23 09:24] pavolloffay commented on #241
It is weird I cannot find the CI job for 0.3.3.

[2019-08-23 09:25] pavolloffay commented on #241
I am pushing 0.3.4 tag to trigger the release.

[2019-08-23 09:52] wuyupengwoaini commented on #239
@sydneyhenrard  You can implement `HandlerInterceptorSpanDecorator` and inject into spring container.But I use full values of 'RequestMapping' annotation instead of 'ClassName#methodName' as span name

[2019-08-23 10:11] chengchen commented on #239
@wuyupengwoaini I guess what @sydneyhenrard meant was:
The span name should not be the name of the method only by default.
I don't have preferences on using full values of `RequestMapping` annotation or `ClassName#methodName` but any of these 2 would be better than the current default.

[2019-08-23 11:43] pavolloffay commented on #241
https://repo.maven.apache.org/maven2/io/opentracing/contrib/opentracing-spring-cloud-core/0.3.4/

[2019-08-23 11:43] #241 closed

[2019-08-23 16:58] countableSet commented on #241
Awesome! thanks! 🎉

[2019-08-26 07:13] wuyupengwoaini commented on #239
@chengchen I got it.We should provided the better `HandlerInterceptorSpanDecorator ` as default span name naming strategy

[2019-08-27 02:30] zouyx commented on #239
@chengchen use code to init strategy as below
[code]

[2019-08-27 17:21] sydneyhenrard commented on #239
Thanks for the reply. I don't want to impose a default, I just wanted a way to customize it. Now I can see how I can do it. I think what is missing is this kind of example on how to customize things.

[2019-08-27 17:21] #239 closed

[2019-08-30 18:59] v-skomissarov commented on #183
Is there any updates? I faced the same issue when tried to use AsyncConfigurer
`
@Configuration
@EnableAsync
public class AsyncConfig implements AsyncConfigurer {

    @Override
    public Executor getAsyncExecutor() {
        return Executors.newWorkStealingPool();
    }
}
`
CustomAsyncConfigurerAutoConfiguration can't see the AsyncConfigurer bean.

[2019-09-02 09:23] pavolloffay commented on #183
There aren't any updates, @v-skomissarov we are waiting for somebody to contribute it

[2019-09-16 08:58] gertdubois opened #243 "FeignTracingAutoConfiguration fails with TypeNotPresentExceptionProxy when used without spring-cloud-starter-openfeign dependency"
Due to direct references to classes from `spring-cloud-starter-openfeign` in `FeignTracingAutoConfiguration` our Spring Boot application fails to starts because we have a dependency on `feign-core`.

This dependency enables the `FeignTracingAutoConfiguration` to kick in but this fails to load due to these lines of code:
`@AutoConfigureBefore(FeignAutoConfiguration.class)`
`  FeignContextBeanPostPr

[2019-09-17 11:03] #243 closed

[2019-09-18 09:09] caorui31 opened #246 "does opentracing-spring-cloud-starter support kafka or spring cloud gateway"
Hi everybody
  In my project, I use spring cloud gateway and kafka
  Now i am planning to record trace data with jaeger, does opentracing-spring-cloud-starter support kafka or spring cloud gateway?

[2019-09-18 09:18] pavolloffay commented on #246
The kafka template is still not supported for more infor subscribe to https://github.com/opentracing-contrib/java-spring-cloud/issues/5

[2019-09-18 09:18] #246 closed

[2019-09-18 09:21] caorui31 commented on #246
Thanks for your reply
what about spring-cloud-gateway， Is there a supported plan

[2019-09-19 16:07] HoffiMuc commented on #92
any news on this? I'd love to use jaeger, but as long as I cannot put trace context (incl. baggage items) inside each and every standard spring boot log line, my hands are tied, unfortunately.

[2019-09-20 07:59] chengchen commented on #92
@HoffiMuc Inspired by the code of @mdvorak, we have implemented this for our own usage. The code is more or less generic, you could just check out the repo and build it yourself. Until now, it works fine for us in production.

[2019-09-20 08:00] geoand commented on #92
@chengchen  would you like perhaps to contribute it?

[2019-09-20 08:11] chengchen commented on #92
Hi @geoand The reason why we are not contributing this part of the code is we made some simplifications and assumptions on the usage... If you look at this part of the [code](https://github.com/edgelaboratories/spring-opentracing/blob/master/src/main/java/com/edgelab/opentracing/mdc/DiagnosticContextScope.java#L63), you will notice that we are injecting the return value of `SpanContext.toString()`

[2019-09-20 08:15] mdvorak commented on #92
Note: https://github.com/opentracing/specification/blob/master/rfc/trace_identifiers.md
That was original blocker for tracer agnostic solution I believe. It probably won't fit every use-case, as @chengchen mentions (and since every tracer is a bit different, it might not be possible). But it might be "good enough" for most users.
I will probably be revisiting this in a month or so, but no promises

[2019-09-20 08:16] geoand commented on #92
Thanks folks!

[2019-09-23 05:50] #196 closed

[2019-09-23 12:37] #230 closed

[2019-10-02 09:14] samudurand opened #248 "Openfeign integration not picking requests"
I am using both your nice library and the Jaeger spring integration. The Jaeger Spring integration picks up the calls to my Spring service, but does not print send any trace of the resulting Openfeign calls generated by that same service.

In my build gradle I have imported both libraries :

[code]

I have a Spring controller that and I have a feign configured class that eventually gets called by

[2019-10-05 12:42] mariusgiger opened #249 "Disable reporting spans for actuator endpoints"
Hi guys,

Reposting [this](https://github.com/opentracing-contrib/java-spring-jaeger/issues/63#issue-494612213) here.

When using Opentracing with Jaeger for Spring Cloud Gateway with actuator endpoints enabled (e.g. /actuator/health for K8s readiness probe), all calls to the actuator endpoints produce a span. Is there a way to disable this behaviour?

Config:
[code]

Cheers,
Marius

[2019-10-08 04:00] wuyupengwoaini commented on #183
@ledor473  @pavolloffay
I checked the issue of sleuth and found a similar issue：https://github.com/spring-cloud/spring-cloud-sleuth/issues/1022
In fact, this is a spring-framwork bug. The related issue is as follows:https://github.com/spring-projects/spring-framework/issues/21484

So there are currently two solutions
1. Upgrade the spring version to the latest version
2. Add the annotation @Role(B

[2019-10-09 03:54] bono007 commented on #228
I am working on this now that the dust has settled and #230 is released.

[2019-10-09 11:08] pavolloffay commented on #248
How are you using the feign client? Are you injecting it as a bean? This module https://github.com/opentracing-contrib/java-spring-cloud/blob/master/instrument-starters/opentracing-spring-cloud-feign-starter/src/test/java/io/opentracing/contrib/spring/cloud/feign/FeignTest.java#L97 has tests for feign client. Could you please debug and see whether the Feign auto configurations are enabled and used

[2019-10-09 11:40] pavolloffay commented on #249
I think this should not happen, the helthcheck probes should not be traced.

@ask4gilles could you please comment on this one? It will also transfer it to web repository.

[2019-10-10 12:42] bono007 commented on #229
@pavolloffay I will fix this one -- I am doing Hacktoberfest so this looks like a good candidate.

[2019-10-10 12:58] pavolloffay commented on #229
@bono007 awesome, go for it :+1: !

[2019-10-10 21:46] bono007 commented on #229
### Assumption:
The intention is to use `opentracing-spring-jaeger-cloud-starter` inside of Spring Boot w/o any web container. Is this correct @pavolloffay ?

### What I have done

1. I created boot app w/ the initial specified deps. I was able to repro the first failure around the
[code]

2. I then upgraded to 0.3.5 - same annotations error.

3. I then added `spring-web` dependency and saw depend

[2019-10-11 01:51] wuyupengwoaini commented on #183
Sadly,I tried,but I failed.Thre root cause is following:
https://github.com/spring-projects/spring-framework/issues/21458

[2019-10-11 03:05] wuyupengwoaini commented on #183
@pavolloffay  please help me reveiew it
https://github.com/opentracing-contrib/java-spring-cloud/pull/251

[2019-10-11 10:12] caorui31 opened #252 "@Async not work"
<dependency>
	<groupId>io.opentracing.contrib</groupId>
	<artifactId>opentracing-spring-cloud-starter</artifactId>
	<version>0.1.10</version>
</dependency>

<parent>
	<groupId>org.springframework.boot</groupId>
	<artifactId>spring-boot-starter-parent</artifactId>
	<version>1.5.11.RELEASE</version>
</parent>

Hi,
 in my project,  spring boot version and opentracing-spring-cloud-starter verson are a

[2019-10-13 08:02] #183 closed

[2019-10-18 08:43] #228 closed

[2019-10-21 07:58] #252 closed

[2019-10-25 10:17] HaojunRen opened #254 "Application failed to start with Spring Cloud Finchley.SR4 & Spring Boot 2.0.7.RELEASE"
Refer to following error:

Does it only support Spring Cloud Greenwich & Spring Boot 2.1.x.RELEASE? I run with Spring Cloud Gateway

***************************
APPLICATION FAILED TO START
***************************

Description:

An attempt was made to call the method reactor.core.scheduler.Schedulers.setExecutorServiceDecorator(Ljava/lang/String;Ljava/util/function/BiFunction;)V but it does not

[2019-10-25 10:19] HaojunRen commented on #254
Any solution for me to support Spring Cloud Finchley? Thanks a lot

[2019-10-30 10:04] JoakimLofgren opened #255 "Issue with mongodb+srv URIs"
When using a `mongodb+srv://...` URI it tries to connect to `127.0.0.1:27017`, which obviously doesn't work as I don't have a mongodb server running locally in my container.

This issue doesn't happen when I remove the opentracing libraries.

The problem I think can be found here:
https://github.com/opentracing-contrib/java-spring-cloud/blob/master/instrument-starters/opentracing-spring-cloud-mong

[2019-10-31 15:10] #255 closed

[2019-11-07 14:00] rubasace commented on #92
@chengchen first of all thx for sharing your working solution. Just FYI. I've been facing very similar issues and I've basically based my approach on yours (mainly just care about `traceId` and `spanId`. In order to override the `ScopeManager` you can directly create a bean implementing `io.opentracing.contrib.java.spring.jaeger.starter.TracerBuilderCustomizer` and set it there, without needing to

[2019-11-08 09:42] samudurand commented on #180
@ddcprg I am having that exact problem, can you give a bit more details on what you mean by "configuring the aspectj weaver plugin' ? That would be extremely helpful, thanks !

[2019-11-08 10:26] samudurand commented on #248
My issue was something specific to my project, closing

[2019-11-08 10:26] #248 closed

[2019-11-11 09:47] lj790115264 opened #258 "oracle: Object does not wrap anything with requested interface"
Caused by: com.baomidou.mybatisplus.exceptions.MybatisPlusException: Error: GlobalConfigUtils setMetaData Fail !  Cause:java.sql.SQLException: 对象不使用请求的接口包装任何内容

when i attempt to monitor oracle, but i get the exception.
this is my maven config:

        `<dependency>
            <groupId>com.nepxion</groupId>
            <artifactId>discovery-plugin-strategy-starter-gateway-opentracing</artifactId

[2019-12-12 06:57] ghilainm opened #261 "Openfeign integration not working when no Feign client present in spring context"
When using hardcoded URLs (=@FeignClient(name="myFeignClient", url="${my.feign.client.url}")
, neither aspect neither the TracingFeignContext adds the necessary request interceptor to handle tracing.

This method is building the feign clients and only when getOptional is invoked does the customization happens.

`<T> T getTarget() {
		FeignContext context = this.applicationContext.getBean(FeignCont

[2019-12-12 09:43] ghilainm commented on #261
I have created a pull request to make it work, could you have a look?

[2019-12-18 15:30] #261 closed

[2019-12-18 15:51] Xyaren opened #263 "Error when running @SpringBootTest with SpringBootTest.WebEnvironment.NONE"
Running my project tests with
[code]
results in

[code]

Using MOCK works fine.

[2019-12-18 15:55] Xyaren commented on #263
Probably adding "@ConditionalOnWebApplication" on SkipPatternAutoConfiguration would help ?

[2019-12-18 16:04] pavolloffay commented on #263
Based on the info you provided we cannot replicate the issue.

@Xyaren would you be able to submit a fix with test?

[2019-12-18 16:13] Xyaren commented on #263
Sure, I'll close this issue for in favor of https://github.com/opentracing-contrib/java-spring-web/issues/124

I was confused by the diferent projects with similar name

[2019-12-18 16:13] #263 closed

[2020-01-07 06:38] sumit-gurav opened #264 "Error creating bean with name 'io.opentracing.contrib.spring.cloud.async"
[code]

[2020-01-07 09:12] pavolloffay commented on #264
@sumit-gurav when does this happen? Could you please provide us with your dependency tree `mvn dependency:tree`?

[2020-01-07 09:55] sumit-gurav commented on #264
While build grade

[2020-01-07 09:58] sumit-gurav commented on #264
plugins {
    id 'com.palantir.docker-run' version '0.20.1'
}

String container = UUID.randomUUID()
String port = getRandomPort()

dockerRun {
    name        container
    image       "registry.hhstechgroup.com/general/rabbitmq:3-management"
    ports       port + ':5672'
    daemonize   true
    env         'RABBITMQ_ERLANG_COOKIE': 'SWQOKODSQALRPCLNMEQG', 'RABBITMQ_DEFAULT_USER': 'rabbitmq', 'R

[2020-01-07 10:02] sumit-gurav commented on #264
buildscript {
    ext {
        springBootVersion = "2.2.1.RELEASE"
        springCloudVersion = "Hoxton.RC1"
    }
    repositories {
        maven { url "http://artifactory.hhstechgroup.com:8081/artifactory/repo" }
        maven { url "https://plugins.gradle.org/m2/" }
        maven { url "https://repo.spring.io/snapshot" }
        maven { url "https://repo.spring.io/milestone" }
        maven {

[2020-01-10 16:59] motobeats commented on #102
Would [SpanLogsAppender.java](https://github.com/opentracing-contrib/java-spring-cloud/blob/master/instrument-starters/opentracing-spring-cloud-core/src/main/java/io/opentracing/contrib/spring/cloud/log/SpanLogsAppender.java) be a good place to add a configurable Level.<level> check before executing the append using the int values of the levels?

[2020-01-17 06:44] hp0632 opened #265 "create new httpclient instrumentation support in java-spring-cloud"
I created the httpclient instrumentation support in java-spring-cloud , we can use apache httpclient to send opentracing structure .

so next what I can do .

[2020-01-19 01:59] hp0632 commented on #265
I wish to help the other people, so I create httpclient instumentation support

[2020-01-20 12:09] pavolloffay commented on #265
@hp0632, to my knowledge Apache httpclient is not part of spring cloud. We provide instrumentations for frameworks which are only supported by spring framework.

[2020-01-20 12:09] #265 closed

[2020-01-24 13:47] Akshathhm opened #267 "org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'XXXX'"
Hi,

After adding the #java-spring-cloud# dependency in our gradle, we are getting "UnsatisfiedDependencyException".. Kindly help

ingframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name 'iaDataSource': Bean with name 'iaDataSource' has been injected into other beans [org.springframework.cloud.task.configuration.SimpleTaskAutoConfiguration] in its raw version as

[2020-01-24 14:04] Akshathhm commented on #267
springBootVersion = '2.2.0.RELEASE'
openTracingSpringCloudVersion = '0.3.12'

[2020-01-24 14:11] Akshathhm commented on #267
HELP is required

[2020-01-26 11:01] Akshathhm commented on #267
Is there any update on this issue?
Its happening while executing BUILD(test case run)

[2020-01-27 13:20] pavolloffay commented on #267
Cold you please try downgrading spring to `2.1.x` and try to build it?

@geoand we depend on SB 2.1.x can there be changes in 2.2.2 which are causing this issue?

[2020-01-27 13:26] geoand commented on #267
It's not uncommon for SB to break compatibility between minor releases so I wouldn't be surprised if something is not working.

A reproducer project would go along way in debugging this

[2020-01-27 14:16] pavolloffay commented on #264
@sumit-gurav could you please provide a project to reproduce? I am not able to reproduce from the code you added here.

[2020-01-27 14:29] pavolloffay commented on #254
Finchley does not define reactor version.

[code]

Therefore we pull in a specific version. If you have any recommendation on the version we are happy to hear it.

[2020-01-27 14:30] pavolloffay commented on #254
https://github.com/opentracing-contrib/java-spring-cloud/blob/e5a18cef4d69510b1910a8291352f37df6c6b118/instrument-starters/opentracing-spring-cloud-reactor-starter/pom.xml#L55

https://github.com/opentracing-contrib/java-spring-cloud/blob/e5a18cef4d69510b1910a8291352f37df6c6b118/pom.xml#L97

[2020-01-27 14:56] #254 closed

[2020-01-31 08:59] Akshathhm commented on #267
We tried with SB 2.1.7 - But its the same issue

[2020-01-31 09:01] Akshathhm commented on #267
The problem seems to be with inclusion of "opentracing-spring-cloud-jdbc-starter"

[2020-02-02 01:07] HaojunRen commented on #254
Thanks，the solution to upgrade to 0.13.3? when to release(not snapshot)?

[2020-02-03 11:02] pavolloffay commented on #254
Try version `0.2.x` or `0.3.x`. Maybe you can try excluding reactor as a transitive dependency and see how it works.

[2020-02-07 06:33] ahmedwaleedmalik opened #272 "[opentracing-spring-cloud-gateway-starter] Unable to get spans/traces"
Hi,

I have created a spring-cloud-gateway application and i would like to enable opentracing in it and send those spans to Jaeger. This application will act as a gateway for communication with multiple micro-services so for this service to propagate headers forward is really important.

I have added the following dependencies:

[code]

And initialized the Jaeger bean using:

[code]

But now i am

[2020-02-07 09:08] pavolloffay commented on #272
What version of Jaeger are you using? You have to use one which uses OpenTracing 0.32.0.

[2020-02-07 09:10] pavolloffay commented on #272
Actually the newest Jaeger client supports both OT APIs 0.32.0 and 0.33.0.

The problem is that you are mixing `com.uber.jaeger` and `io.jaegertracing`. Only `io.jaegertracing` should be used.

[2020-02-07 09:10] #272 closed

[2020-02-07 10:26] ahmedwaleedmalik commented on #272
@pavolloffay okay i'll try that. Btw for spring cloud gateway, adding this:

[code]

and application property

[code]

This would do the trick or should i carry on with the way i implemented it ? Plus do you have any sample app for this purpose ? That would be great.

[2020-02-07 14:15] yurishkuro commented on #272
I had a working example in my book: https://github.com/PacktPublishing/Mastering-Distributed-Tracing/tree/master/Chapter07

[2020-02-15 10:49] RutgerLubbers commented on #258
I think I've created a fix for this in PR #275 . Give it a try when that is merged?

[2020-02-17 08:56] pavolloffay opened #276 "Upgrade to OpenTracing 0.33.0"
Upgrade OpenTracing API and instrumentation dependencies to OpenTracing 0.33.0

[2020-02-17 08:56] pavolloffay commented on #276
@malafeev would you like to take this one?

[2020-02-17 08:57] malafeev commented on #276
sure

[2020-02-19 08:36] #276 closed

[2020-02-20 09:38] duclm2609 commented on #98
I'm looking for the same feature. It would be nice to not mess with business logic code.

[2020-02-23 19:56] rafabene commented on #98
I also looked for a similar feature. Why #184 has never been merged?

[2020-02-24 01:09] ledor473 commented on #98
I'd be happy to re-submit if there's a desire to merge it. @pavolloffay let me know if you have some time to review and merge.

[2020-02-24 10:53] pavolloffay commented on #98
I am happy to review/merge if it's not controversial.

[2020-02-28 11:13] #264 closed

[2020-03-08 20:27] JingangLi opened #278 "Fails at java.lang.NoSuchMethodError: io.opentracing.Scope.span()Lio/opentracing/Span;"
Hi,

I follow the guide at https://github.com/opentracing-contrib/java-spring-cloud. But I get the below errow with spring boot:
2020-03-08 21:21:17.558 ERROR 124812 --- [   scheduling-1] o.s.s.s.TaskUtils$LoggingErrorHandler    : Unexpected error occurred in scheduled task
java.lang.NoSuchMethodError: io.opentracing.Scope.span()Lio/opentracing/Span;

Is there some one facing the similiar issue? M

[2020-03-08 20:29] JingangLi commented on #278
Update the vesion information:
Spring cloud version : 2.2.5.RELEASE:Hoxton.SR1
Opentracing version : opentracing-spring-cloud-starter:0.5.0

[2020-03-09 10:02] pavolloffay commented on #278
Hi @JingangLi did you resolve the problem? The versions in your last comment look correct.

[2020-03-09 10:34] JingangLi commented on #278
Hi @pavolloffay ,

I avoid the issue by use the old opentracing-spring-jaeger-cloud-starter version. Now I am using opentracing-spring-jaeger-cloud-starter version:2.0.2.

I think the problem is that in of opentracing-spring-jaeger-web-starter:3.0.0, the opentracing-util-0.32.0.jar is mixed use with opentracing-api-0.33.0.jar. I found in opentracing-api-0.33.0.jar the Scope.span is removed from op

[2020-03-09 10:34] #278 closed

[2020-03-10 21:18] JingangLi opened #279 "Doc or instruction for Span generation in spring boot"
Hi,

When I use opentracing with spring boot, I found opentracing generate spans for

- component : "java-web-servlet"
- component : "feign"
- class : "MbmsPromOper"

Like this
![image](https://user-images.githubusercontent.com/1295882/76360334-13772c00-631d-11ea-9eff-e30294b7b6a5.png)

It seems one request can have 3 spans. Can I control how much spans will be generated? Is there some doc or inst

[2020-03-11 09:03] pavolloffay commented on #279
Hi @JingangLi you can disable instrumentations via spring properties e.g. https://github.com/opentracing-contrib/java-spring-cloud

There should be a property for every instrumentation.

[2020-03-22 16:23] HaojunRen opened #281 "It seems opentracing-spring-cloud-starter 0.5.0 is compatible with opentracing-spring-rabbitmq-starter with embedded version(2.5.0)"
But it woks fine with opentracing-spring-rabbitmq-starter 3.0.0. Would you please confirm this issue? Thanks!

[2020-03-24 08:08] HaojunRen commented on #281
so please upgrad to 0.5.1 with opentracing-spring-rabbitmq-starter 3.0.0

[2020-03-24 08:23] pavolloffay commented on #281
Why is it incompatible?

Would you like to submit a PR?

[2020-03-25 15:38] HaojunRen commented on #281
I remember that opentracing-spring-rabbitmq-starter 2.0.5(sorry, NOT 2.5.0) which ran with opentracing-spring-cloud-starter 0.5.0 caused NOT found a method of as belows

java.lang.BootstrapMethodError: java.lang.NoSuchMethodError: io.opentracing.ScopeManager.active()Lio/opentracing/Scope;
	at io.opentracing.contrib.spring.rabbitmq.RabbitMqTracingUtils.buildSendSpan(RabbitMqTracingUtils.java:58)
	a

[2020-03-25 15:43] HaojunRen commented on #281
It works fine with
[code]
I have submitted a PR https://github.com/opentracing-contrib/java-spring-cloud/pull/282, please check it. Thanks

[2020-03-27 16:50] backjo opened #283 "Dependency opentracing-spring-tracer-configuration-starter pulls in mismatched version OT util"
opentracing-spring-tracer-configuration-starter dependencies are not being excluded, so if there is a version mismatch, it's possible that a user of this library could get one version of opentracing-util (say 0.32.0), but another version of opentracing-api (0.33.0)

[2020-03-28 10:48] HaojunRen commented on #281
Do you have time to merge the PR?

[2020-03-30 09:19] #281 closed

[2020-04-22 12:52] doddatpivotal opened #285 "Adding spring-data-starter-data-jpa with ddl-auto=update causes block at startup"
I had posted this issue to wavefront-spring-boot project, but it was identified that there was an issue with Open Tracing.  See issue https://github.com/wavefrontHQ/wavefront-spring-boot/issues/27

When I choose to do jpa.hibernate.ddl-auto=update then I get a deadlock during initialization.

I have this dependency included.
[code]
Per Stephane.

That's an issue when the EntityManager is bootstrap

[2020-04-29 09:29] JasonMing opened #286 "Trace context does not propagate to the callback of ThreadPoolTaskExecutor/Scheduler"
[code]

This is confusing me, the context (`activeSpan`) is loss in the callback while the main task can get it correctly.

[2020-04-30 07:25] pavolloffay commented on #286
@JasonMing would you like to submit a fix for https://github.com/opentracing-contrib/java-spring-cloud/blob/master/instrument-starters/opentracing-spring-cloud-core/src/main/java/io/opentracing/contrib/spring/cloud/async/instrument/TracedThreadPoolTaskExecutor.java#L30?

[2020-05-01 16:45] JasonMing commented on #286
@pavolloffay I open a PR #287

[2020-05-11 18:45] garimakemwal commented on #5
@pavolloffay Can support for KafkaTemplate be marked done with the PR referred to, above?

[2020-05-12 07:41] pavolloffay commented on #5
Per https://github.com/opentracing-contrib/java-spring-cloud/pull/280#issuecomment-602683961 yes. I am marking it as done.

[2020-05-14 02:39] hctsang96 opened #288 "Exception in instrumenting Spring Cloud Stream with Solace Binder"
Hi all,

In my spring boot app, I used Spring Cloud Stream (with Solace binder), and tried to integrate with Open Tracing API implementation for Spring Cloud (which supports Spring Cloud Stream) but failed with the stack trace as below, probably due to incompatible data type (not supported by Solace SDTMap) of Open API info in message header.

My question is if I can DISABLE the instrumentation re

[2020-05-14 07:54] pavolloffay commented on #288
The instrumentation is loaded by this auto configuration https://github.com/opentracing-contrib/java-spring-messaging/blob/e57ad163b8640dd8362a200cd835f83746d9608c/opentracing-spring-messaging-starter/src/main/java/io/opentracing/contrib/spring/integration/messaging/OpenTracingChannelInterceptorAutoConfiguration.java#L29.

Normally our auto instrumentation have a property that can be used to disab

[2020-05-19 18:11] ledor473 commented on #210
@pavolloffay I think this bug can be closed now. Since the bug is still open, it caused some FUD for us, but it appears that the usage of `isWrapperFor()` method was replaced by [WrapperProxy. isWrapper()](https://github.com/opentracing-contrib/java-common/blob/master/src/main/java/io/opentracing/contrib/common/WrapperProxy.java) which uses reflection instead of relying on the JDBC implementation.

[2020-05-19 18:13] ledor473 commented on #258
Relates to #210 which I think is solved https://github.com/opentracing-contrib/java-spring-cloud/issues/210#issuecomment-630991291

[2020-05-25 12:48] pavolloffay commented on #210
thanks @ledor473 , I am closing this

[2020-05-25 12:48] #210 closed

[2020-05-25 12:48] #258 closed

[2020-05-27 13:27] kohegen opened #289 "ExecutorBeanPostProcessor tries to create cglib proxy for class without visible constructor"
Problem:
The issue is when `io.opentracing.contrib.spring.cloud.async.ExecutorBeanPostProcessor` tries to create CGlib proxy on `FinalizableDelegatedExecutorService` and `DelegatedScheduledExecutorService` which don't have visible constructor. it fails with exception below:
[code]

Reproduction - just try to do instrumentation for `Executors` below:
[code]
or
[code]

Tested on version:
[code]
Modu

[2020-05-30 15:22] larchanjo opened #291 "[Redis] Add support to set prefix operation name"
I am using Opentracing and Redis in my architecture, but it's complicated to identify the spans of Redis operations like:

- SET
- EXISTS
- GET

I would like to set a prefix, for example:

- REDIS.SET
- REDIS.EXISTS
- REDIS.GET

**Observation**

I have found this class TracingConfiguration that provides a **spanNameProvider**, but it is not clear how can I use it.

[2020-06-08 08:11] #291 closed

[2020-06-09 07:22] kohegen opened #293 "TracedExecutorService is always configured with traceWithActiveSpanOnly=true"
`ExecutorBeanPostProcessor` is always wrapping `ExecutorService`s with `TracedExecutorService` which has `traceWithActiveSpanOnly` property set by default to `true`.
[code]
This is something which should be accessible by some property i guess.

[2020-06-15 15:47] ledor473 commented on #188
This issue is still valid and yes settubg `opentracing.spring.cloud.async.enabled` to false keeps a non-Async application that way.

[2020-06-18 17:45] jagdishkulkarni opened #294 "Using opentracing jdbc version 0.2.11 to fix issue related to Oracle drivers"
opentracing-jdbc library was upgraded to 0.2.11 to fix the issue related to oracle drivers.
Need to upgrade it here as well.

[2020-06-22 07:31] pavolloffay commented on #294
Would you like to submit a patch?

[2020-06-24 11:20] chandresh-pancholi opened #295 "Open tracing with spring cloud with Kafka, Redis, mysql initiate new span always"
Hi,

I am written spring boot application using java-spring-cloud.

Request flow
[code]

I am receiving two different traces
1. Rest --> Controller --> Kafka producer--> Kafka consumer
2. Redis set

Mysql spans are not even generating.

[2020-06-24 11:46] pavolloffay commented on #295
How are you calling the redis client? If it is called in a new separate thread it might break the context propagation resulting in two traces.

cc) @malafeev could you please have a look?

[2020-06-24 12:06] chandresh-pancholi commented on #295
It's the same Kafka consumer thread.

[2020-06-24 12:18] malafeev commented on #295
@chandresh-pancholi how your consumer looks like? do you use `@KafkaListener` annotation?

[2020-06-24 12:22] chandresh-pancholi commented on #295
@malafeev , I have updated the comment. please check.

[2020-06-24 12:46] malafeev commented on #295
yes, it's a limitation. We don't intercept `@KafkaListener` annotated method to activate consumer span.
It should be possible to extract span context from the record headers and then build child span of it but that's too much coding.

[2020-06-24 14:26] jagdishkulkarni commented on #294
Sure will do.

[2020-06-24 16:43] chandresh-pancholi commented on #295
That's alright but why it only shows redis span but not mysql.

[2020-06-25 14:35] malafeev commented on #295
mysql span should be created, but what `repository.save();` is doing? Does it use MySQL JDBC driver to persist entity?

Didn't you set
`opentracing.spring.cloud.jdbc.withActiveSpanOnly` property to `true`?
It should be `false` because there is no active span.

[2020-06-25 20:31] chandresh-pancholi commented on #295
Got it. Thanks @malafeev

[2020-06-25 20:31] #295 closed

[2020-06-28 01:14] jagdishkulkarni commented on #294
PR raised.
https://github.com/opentracing-contrib/java-spring-cloud/pull/296

[2020-06-29 08:47] #294 closed

[2020-07-07 15:07] jagdishkulkarni commented on #294
When will this be released to maven repository?
I still see latest version as 0.5.4.

[2020-07-07 15:24] pavolloffay commented on #294
It should have been published in 0.5.5, it seems that it didn't make to maven central

[2020-07-07 15:29] pavolloffay commented on #294
The 0.5.5 should land in central soon.

[2020-07-09 14:48] mayankvaid88 opened #297 "Open-tracing integration with spring-cloud-starter-netflix-eureka-serve"
I am trying to setup open-tracing with spring eureka server.
POM.xml

![image](https://user-images.githubusercontent.com/54495306/87055381-e03c9f00-c221-11ea-95b1-9a591c110d2a.png)

ApplicationRunner
[code]

Error Log
[code]

[2020-07-13 09:25] pavolloffay commented on #297
Is the error related to OpenTracing? I don't see OpenTracing libraries logged in the error.

[2020-07-13 14:00] mayankvaid88 commented on #297
No so this particular error seems to be because of class path messed up. However, I wanted to understand if opentracing-spring-cloud-starter supports spring cloud eureka server (spring-cloud-starter-netflix-eureka-server) and can be integrated.

[2020-07-13 14:55] pavolloffay commented on #297
The support for eureka is not listed in the readme. If the eureka is bases on the standard HTTP components that are supported by this library then it might work. You could test it and report back.

[2020-07-13 15:06] mayankvaid88 commented on #297
I am not sure if I can answer on whether eureka is based on the standard HTTP components. However, I can confirm that I am having class path issues like I reported above when including opentracing-spring-cloud-starter with spring-cloud-starter-netflix-eureka-server.

image

[2020-07-13 15:19] pavolloffay commented on #297
@geoand any idea why it is failing?

Maybe bc the ot-jaeger uses SB 2.1 and not 2.2? https://github.com/opentracing-contrib/java-spring-jaeger/blob/master/pom.xml#L68

[2020-07-13 15:20] pavolloffay commented on #297
@mayankvaid88 could you please try to remove the `jaeger-cloud-starter` artifact?

[2020-07-13 15:53] mayankvaid88 commented on #297
hi ... I tried removing jaeger-cloud-starter but issue is still same. But when I remove opentracing-spring-cloud-starter application loads successfully...

[2020-07-13 16:25] mayankvaid88 commented on #297
seems like issue is with version incompatibility. Adding `opentracing-spring-cloud-starter` enforces application to use `ContentNegotiationManager` from `org.springframework:spring-web:5.2.0.RELEASE2`. When I remove this jar, same class is being used from `org.springframework:spring-webmvc:5.2.6.RELEASE2`

[2020-07-13 16:47] pavolloffay commented on #297
The cloud instrumentation uses opentracing-spring-web which seems to use the right dependency `spring-webmvc` https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web/pom.xml#L39.

Try to exclude `opentracing-spring-cloud-gateway-starter` It is pulling in `spring-web` https://github.com/opentracing-contrib/java-spring-cloud/blob/master/instrument-starters/opentraci

[2020-07-13 18:17] mayankvaid88 commented on #297
Thank you @pavolloffay .. excluding opentracing-spring-cloud-gateway-starter  worked !!!

[2020-07-14 08:13] pavolloffay commented on #297
@mayankvaid88 would you like to submit a PR to fix this issue? Perhaps the gateway starter could depend on the `spring-webmvc` instead of `spring-web`.

[2020-07-14 18:27] mayankvaid88 commented on #297
sure. I will raise the PR @pavolloffay

[2020-07-16 19:20] mayankvaid88 commented on #297
@pavolloffay [pull request](https://github.com/opentracing-contrib/java-spring-cloud/pull/298) has been created. Please review and merge if looks okay

[2020-07-17 14:12] #297 closed

[2020-07-17 14:13] mayankvaid88 commented on #297
#298 solves the issue

[2020-07-29 07:27] pavolloffay commented on #279
Reopening per https://github.com/opentracing-contrib/java-spring-cloud/pull/298#issuecomment-665036225

cc) @Zetten would you like to properly fix this?

[2020-07-29 09:35] Zetten commented on #279
I think change #298 was actually trying to resolve #297 - this issue was incorrectly linked.

[2020-07-29 09:58] Zetten commented on #297
The solution isn't quite as simple as adding `spring-webmvc` to the cloud-gateway starter. Spring Cloud Gateway is a webflux app and will complain when `DispatcherServlet` is on the classpath - and it's brought in by `spring-webmvc`. Basically, Spring Coud Gateway is fundamentally incompatible with Spring Cloud Netflix Eureka Server, and they aren't likely to end up in the same app together.

This

[2020-07-29 10:13] pavolloffay commented on #297
We were enforcing 2) however the core web packages might have been declared as compile scope. Instead of provided we have been using optional IIRC.

If you could have a look and submit a PR that would be awesome

[2020-07-29 11:20] Zetten commented on #297
I'm not really able to do much testing for this, as I don't have any app using Eureka Server, but I've got a PR up at #299.

[2020-08-03 17:41] pschichtel commented on #289
I'm hitting this too, has there been any investigation on how to fix this?

[2020-08-19 07:23] olivierboudet commented on #172
Is this property should be working for ignoring span from RestTemplate ? I have a health endpoint which calls actuator endpoint of others services and spans are created from RestTemplate

[2020-08-20 15:40] pavolloffay commented on #172
The skip pattern is for server side endpoints.

[2020-08-26 16:29] robinator8 commented on #219
For anyone that is still having this issue, for me to solve it I had to add this to my application config.

opentracing.spring.web.ignoreAutoConfiguredSkipPatterns: true

[2020-08-27 13:47] kohegen commented on #289
This is how it has been fixed in spring-cloud-sleuth:
https://github.com/spring-cloud/spring-cloud-sleuth/commit/58f3d0fce000cf849f4d9674820b4da7c75d59b1

[2020-09-15 16:52] sumantmunjalyahoo commented on #98
Any plans when this feature will be available in the release

[2020-09-19 09:40] cameronbraid opened #301 "v 0.5.7 breaks stomp"
As soon as I add opentracing-spring-cloud-starter:0.5.7 jar to my app I am no longer able to publish messages via stomp from client.

Client side subscribe works, and server publish messages are received on the client but the client can't publish as the following execption is received :

[code]

Spring boot version 2.3.4.RELEASE

[2020-09-19 10:06] cameronbraid commented on #301
FYI I have more details of my broker setup and client are at https://github.com/spring-projects/spring-framework/issues/25640

[2020-09-28 10:28] akashsolanki opened #304 "RxJava instrumentation not working via auto configuration"
RxJava app does not send any trace to Jaeger automatically. It only works using a manual Tracer Configuration and wrapping the subscribers and observers in the Tracer decorators (like in [this app](https://github.com/akashsolanki/rxjava-jeager)).

Please see [this stackoverflow question](https://stackoverflow.com/q/64018706/3503019) for details.

Is this expected? Shouldn't it work automatically w

[2020-09-28 10:43] julianocosta89 commented on #304
Just adding a little bit of context here, all the other Spring Cloud instrumentation samples didn't require to instrument anything.
All is done automatically, that's why I was expecting the same behavior for RxJava.

Instrumenting all the Rx objects and adding `@Bean` works, but that's a manual task and it's different from all the other cases.

[2020-09-29 10:22] rstoyanchev commented on #301
I believe the issue is related to how [TracingChannelInterceptor](https://github.com/opentracing-contrib/java-spring-cloud/blob/eaf753fd5c1471602a4ecfebff5ba168016a16b3/instrument-starters/opentracing-spring-cloud-websocket-starter/src/main/java/io/opentracing/contrib/spring/cloud/websocket/TracingChannelInterceptor.java) is implemented. It uses `MessageBuilder.from(message)` to obtain a builder,

[2020-10-27 07:31] orange-buffalo commented on #295
There is a PR to implement missing support of `@KafkaListener` in `java-kafka-client` (see opentracing-contrib/java-kafka-client#83). Should we reopen this issue or create a new one to integrate a new version of `java-kafka-client`?

[2020-10-30 03:17] orange-buffalo commented on #98
Guys, do you need any help with the review or implementation to get this feature released?

[2020-11-17 09:45] fracklen opened #307 "Mongo Client 4.x Not supported"
We are running with spring-boot 2.3.x, which pulls in Mongo Client 4.x

The MongoClient has been updated, and no longer has the same interface. (Or package path)

Is there a way to make the cloud-mongo-starter support both Mongo Client 3.x and 4.x?

[2020-12-09 20:14] dreis2211 commented on #285
I have a very similar issue - if not the same. My workaround was to set `opentracing.spring.cloud.async.enabled` to` false`. I wonder if that helps with your use-case, too @doddatpivotal ?

Both excluding the starter or disabling certain options are not really nice workarounds though. So a +1 from me for actually tackling the problem.

[2020-12-09 22:25] doddatpivotal commented on #285
@dreis2211 I had been working on a demo that has come and gone, so I don't have the code running again to test.  But good to know there are multiple workaround and hope the problem gets tackled.

[2020-12-27 01:45] SrMouraSilva opened #308 "Application doesn't startup in Spring Messaging 5.3.2"
In opentracing-spring-cloud-websocket-starter `WebsocketAutoConfiguration` calls a method that suffers a break change in Spring Messaging 5.3.2

* `WebsocketAutoConfiguration`

https://github.com/opentracing-contrib/java-spring-cloud/blob/master/instrument-starters/opentracing-spring-cloud-websocket-starter/src/main/java/io/opentracing/contrib/spring/cloud/websocket/WebsocketAutoConfiguration.java

[2020-12-28 10:48] PathanAsif opened #309 "Application Context fails to start due to dependency on org.springframework:spring-web"
Application context fails to start on adding `io.opentracing.contrib:opentracing-spring-cloud-starter:5.9.0` dependency if the project does not also depend on `org.springframework:spring-web`. Applications which do not use `org.springframework:spring-web` dependency are thus not able to use this starter without adding this dependency.

[2021-01-06 15:08] bandyguy opened #310 "spring-ws"
Is there any plan to support/integrate [spring-ws](https://spring.io/projects/spring-ws)?

[2021-01-08 00:41] kkroner8451 opened #311 "Application won't start with opentracing.spring.cloud.reactor.enabled=true"
We have an application that is using Spring Cloud Gateway and is connected to Redis and Jaeger that is deployed in Pivotal Cloud Foundry.

### Problem
When not run in Cloud Foundry (i.e. on a host machine) and still connected to Redis/Jaeger everything seems to load fine with the Tracer automatically created using the *spring.application.name* property which is set in *bootstrap.yml* file.
bootstr

[2021-01-12 09:59] ryanlewis commented on #98
@ledor473 sorry for the direct ping - great work on the PR. Is there anything in particular missing or blocking its merge?

[2021-01-12 14:30] JoakimLofgren commented on #307
Relates to https://github.com/opentracing-contrib/java-mongo-driver/issues/21

[2021-01-12 16:26] ledor473 commented on #98
@pavolloffay / @geoand / @jpkrohling would have to review, merge, and release it.

Sadly it feels like the project isn't very active because the issue was created almost 3 years ago and it caused us to created an internal fork

[2021-01-13 09:01] geoand commented on #98
Hey @ledor473.

We never got notified about your PR. I'll have a look

[2021-01-14 07:08] #98 closed

[2021-01-19 14:05] wesleyjconnorsesame opened #312 "NoClassDefFoundError: org/springframework/cloud/openfeign/ribbon/LoadBalancerFeignClient when using spring-cloud-dependencies:2020.0.0"
Using    ` implementation "io.opentracing.contrib:opentracing-spring-jaeger-cloud-starter:3.2.2"` I upgraded to the new   `mavenBom "org.springframework.cloud:spring-cloud-dependencies:2020.0.0"`

spring-cloud 'Hoxton.SR9' worked correctly

Since then I get the following error on startup.
It seems ribbon was removed from spring cloud in 2020 but is required by jaeger (but not included) with spring

[2021-01-20 14:21] single-wolf opened #313 "DefaultAsyncAutoConfiguration override a implicit AsyncTaskExecutor"
### problem

**spring-aop** has a implicit rule for determining default AsyncExecutor when there`s no AsyncConfigurer existed

See [https://github.com/spring-projects/spring-framework/blob/584dabbb3980dbed5272f79a61aa996d390e528c/spring-aop/src/main/java/org/springframework/aop/interceptor/AsyncExecutionAspectSupport.java#L227](AsyncExecutionAspectSupport.java#L227)

**DefaultAsyncAutoConfiguratio

[2021-01-22 12:25] ChristianGmw commented on #312
I can confirm the issue. We ran into the same problem when we tried to upgrade to SpringBoot 2.4.x with SpringCloud 2020.0.0

[2021-02-02 23:48] haboy52581 opened #316 "Could not report to Jaeger when using spring cloud apigw"
java version: 11
spring cloud version
opentracing-spring-web-starter:4.1.0
spring-cloud-dependencies:Greenwich.SR2
here is sample code snippet:
[code]

[2021-02-07 06:03] rajesh-giriyappa opened #318 "Trace Span logs not appended to the loggers"
HI,

Trace Logs are not appended in the logger file below is my configurations

opentracing.spring.web.client.enabled=true
opentracing.spring.cloud.log.enable=true
opentracing.zipkin.enabled=true
opentracing.zipkin.http-sender.url=http://localhost:9411
opentracing.zipkin.counting-sampler.rate=1.0

 @Bean
    public io.opentracing.Tracer globalTracer(){

        zipkin2.reporter.okhttp3.OkHttpSende

[2021-02-12 12:07] HaojunRen opened #319 "What's the plan for supporting Spring Cloud 2020"
Thanks a lot

[2021-02-20 12:41] dreis2211 commented on #311
The mentioned auto-configuration registers hooks for some of the reactor parts. Unfortunately, under certain circumstances the hooks there get triggered before the `Tracer` bean or any of its dependencies like `JaegerConfigurationProperties` are available. Maybe in your case the Redis autoconfiguration triggers these hooks before a `Tracer` is available. While the implementation wants to account f

[2021-02-26 17:15] AhHa45 opened #320 "Spring boot messaging Failed to serialize object caused by jaeger"
I spent now 2 days trying to figure out how to solve this but I am out of luck..

We added java-spring-cloud-starter version 0.5.9 to our spring boot application v2.1.3

We have some DomainEvents that we need to serialize, we use MessageChannel of spring boot framework.
which creates a GenericMessage
https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/messaging/Mes

[2021-03-07 13:34] gituserjava opened #321 "Does this support Honeycomb open tracing?"

[2021-03-08 10:29] rajurathi1112 commented on #312
I am facing similar issue. is there any timeline to support  SpringCloud 2020.0.0 ?

[2021-03-08 23:47] rajurathi1112 commented on #312
fyi , after adding below in property file , we are not seeing this error . hope this helps ..

opentracing.spring.cloud.feign.enabled=false

[2021-03-26 13:02] pmaslankowski opened #322 "Release of version 0.6.0 to maven central"
Hi,

First, I'd like to thank for all the great work you're doing here :)

I stumbled across the following problem: when I was trying to add java-spring-cloud to my project, I realised that the latest version (0.6.0) is not available in maven central repository yet (https://mvnrepository.com/artifact/io.opentracing.contrib/opentracing-spring-cloud-core).

Are there any plans to release it there?

[2021-03-29 13:43] jcolaco-nmz opened #323 "TraceRequestHttpHeadersFilter Overrides headers"
Implementation overrides headers. E.g. `X-Forwarded-*` headers are overridden in Spring Cloud Gateway.

[2021-04-23 11:34] HaojunRen commented on #319
In Spring Cloud 2020, `Ribbon` has been replaced with `Spring Cloud LoadBalancer`, OpenTracing Spring Cloud has forced to add `Ribbon` jar, so following exception has been threw out and the service will stop
[code]

[2021-06-04 18:10] qzmarco commented on #322
Is there any position about this issue?

[2021-06-07 13:04] lucwillems commented on #322
+1 on how artifacts are released to public repositories. seems a bit unclear now for
how/when this is happening.
wait for OpenTracing Spring Jaeger Cloud Starter 3.3.3, latest is 3.3.1

[2021-06-10 16:03] bourd0n commented on #312
+1, facing same issue

[2021-06-16 09:15] xuym-inhand commented on #312
+1

[2021-06-24 05:28] lucwillems commented on #322
i'm a bit confused here, according to master pom.xml , it still saying 0.5.10-SNAPSHOT  ,  but release label/version says 0.6.0.
looking into the source.zip , its also saying 0.5.10-SNAPSHOT, so it seems the 0.6.0 was not really a clean release from maven point of view.

#302 is closed , @geoand  could you review this  and provides a public jar release ?

[2021-06-24 07:35] geoand commented on #322
@objectiser  @pavolloffay any idea what the status of releases is now with the sunseting of bintray?

[2021-06-28 10:08] hyuming opened #326 "not support ConcurrentTaskScheduler？"

[2021-07-27 05:29] AndreyMoiseev opened #327 "Using OT side-by-side with NewRelic"
We are using NewRelic for APM management. And we want to use our own distributed tracing based on OT alongside with NewRelic. Doing this I came up on problem - NewRelic is not capturing details of SQL transactions when OT JDBC instrumentation is enabled.

Investigating the issue I found this commit: https://github.com/opentracing-contrib/java-spring-cloud/pull/277
It seems like at some moment dyna

[2021-07-31 21:08] henriquels25 commented on #312
This is the same issue as https://github.com/opentracing-contrib/java-spring-jaeger/issues/127 and the author has opened the PR https://github.com/opentracing-contrib/java-spring-cloud/pull/324 that solves the problem.

I believe we should merge the PR because the issue affects everyone who upgraded Spring Boot and uses OpenFeign.

[2021-08-07 02:58] ripper2hl commented on #312
Same problem any workaround to fix this ?

[code]

[2021-08-17 14:43] roadSurfer commented on #92
Unfortunately @chengchen's code is no longer visible/available, so it's not possible for me to see how they solved the problem. I can follow the code [here](https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/README.md) which lets me log the trace & span ids, but unfortunately breaks sending them on to a Jaeger server.
Have there been any progress with logging the trace & s

[2021-08-17 15:33] chengchen commented on #92
Hi @roadSurfer unfortunately we have made our repo private because it contains some private credentials and some opinionated choices... If you don't have huge amount of traces or not heavily using Reactor e.g. you could just use this open-sourced solution: https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/io/jaegertracing/internal/MDCScopeManager.java

[2021-08-31 06:48] getpiyushfar commented on #264
@sumit-gurav I am facing the same error

[2021-09-02 06:27] lathspell opened #330 "Update jaeger-client dependency due to CVE-2020-13949"
You have an indirect dependency on libthrift:0.13.0 which has a security problem according to CVE-2020-13949.
Please update to opentracing-spring-jaeger-starter:3.3.3!

{noformat}
+--- io.opentracing.contrib:opentracing-spring-jaeger-cloud-starter:3.3.1
|    +--- io.opentracing.contrib:opentracing-spring-jaeger-starter:3.3.1
|    |    \--- io.jaegertracing:jaeger-client:1.3.2
|    |         +--- i

[2021-09-07 16:21] davidje13 commented on #312
As a really nasty workaround in the meantime, I believe you can resolve this by defining the classes which it is looking for. This should be safe, because it won't actually _use_ them (it just does an `instanceof LoadBalancerFeignClient` check which will of course fail because nothing will create one)

With that in mind, adding the following files in the correct packages "works":

[code]

[code]

[2021-09-15 12:48] zevolution commented on #312
It worked for me! Thanks

[2021-09-17 08:09] AhHa45 commented on #312
instead of this hacky workaround I'd simply exclude `opentracing-spring-cloud-feign-starter` from your build. This solved the issue for me.

[2021-10-20 13:52] VovkaSOL opened #332 "java.lang.NoSuchMethodError: 'io.opentracing.Scope io.opentracing.Tracer$SpanBuilder.startActive(boolean)"
Hi, i found problem, my dependency tree is:
+--- io.opentracing.contrib:opentracing-spring-jaeger-cloud-starter:3.1.1
|    |    +--- io.opentracing.contrib:opentracing-spring-jaeger-starter:3.1.1 (*)
|    |    \--- io.opentracing.contrib:opentracing-spring-cloud-starter:0.5.0
|    |         +--- io.opentracing.contrib:opentracing-spring-rabbitmq-starter:2.0.5
|    |         |    \--- io.opentracin

[2021-10-20 14:04] VovkaSOL commented on #332
when fix io.opentracing.contrib:opentracing-spring-rabbitmq:2.0.5 to 3.0.1 all work good

[2021-11-27 18:24] ahmedju commented on #172
This not working in latest Jaeger version, please any help ?

[2021-12-15 13:08] PaKu5 opened #335 "ignoreStatements not working for opentracing-spring-cloud-mongo-starter"
Hello,

I have the following dependencies in my spring-boot project:
`<dependency>
    <groupId>io.opentracing.contrib</groupId>
    <artifactId>opentracing-spring-jaeger-web-starter</artifactId>
    <version>3.3.1</version>
</dependency>`

`<dependency>
    <groupId>io.opentracing.contrib</groupId>
    <artifactId>opentracing-spring-cloud-feign-starter</artifactId>
    <version>0.5.9</version>
</

[2022-01-10 16:39] lathspell commented on #330
ping

[2022-01-26 04:43] ericomonteiro commented on #312
i resolved this problem adding this dependency

<dependency>
    <groupId>org.springframework.cloud</groupId>
    <artifactId>spring-cloud-openfeign-core</artifactId>
    <version>2.2.6.RELEASE</version>
</dependency>

[2022-01-26 04:44] ericomonteiro commented on #312
i resolved this problem adding this dependency

[code]

[2022-02-04 13:35] bivab opened #336 "`opentracing-spring-cloud-redis-starter` RedisClusterConnection wrapped in TracingRedisConnection"
The [Redis aspect](https://github.com/opentracing-contrib/java-spring-cloud/blob/master/instrument-starters/opentracing-spring-cloud-redis-starter/src/main/java/io/opentracing/contrib/spring/cloud/redis/RedisAspect.java#L73) will wrap all `RedisConnection` objects returned by the intercepted call in `TracingRedisConnection`, although Jedis (not sure if Lettuce too) can return `RedisClusterConnecti

[2022-04-05 07:39] arjunkrishnamurthy commented on #301
@rstoyanchev wrapper is lost when we return a new GenericMessage object in the above snippet which still causes IllegalStateException in StompBrokerRelayMessageHandler. Do we have any solutions for this

[2022-05-02 23:00] bzdgn commented on #219
@robinator8 That didn't solve my problem;

[code]

[2022-06-17 14:07] lathspell opened #338 "Dependency to opentracing-spring-jaeger-cloud-starter removes "http_server_requests_seconds_count" metric since SpringBoot 2.7.0"
After upgrading to SpringBoot 2.7.0 I noticed that the Prometheus metrics "http_server_requests_seconds_count" and "http_server_requests_seconds_sum" were gone. All other metrics are still there.

I narrowed the problem down to the dependency to `io.opentracing.contrib:opentracing-spring-jaeger-cloud-starter:3.3.1`.
Whenever this dependency is added, the above metric vanishes.

I guess that opentr

[2022-07-27 09:08] TheMohanraj commented on #322
guys, any update on this?

[2022-08-09 05:35] vidushineema commented on #264
Yes I am also facing the same error @sumit-gurav can you tell how you solved this error.

[2022-08-19 04:42] Urunov commented on #267
**Update dependecy**
pringBootVersion = latest  version
openTracingSpringCloudVersion = '0.3.12'

[2022-09-01 22:04] rs-asankpal commented on #312
Thank you @davidje13, this worked for me

[2022-09-12 09:47] barbetb commented on #330
Any update on this? 0.16.0 if libthrift is out, when can we expect and update?

[2022-09-13 23:24] lathspell commented on #330
Migrating according to https://opentelemetry.io/docs/migration/opentracing/ is the way to go but it's sad that the old libraries are left with security issues.

[2022-09-29 06:08] kiko0217 commented on #312
actuatly, I confused to implement this tip. can you explain??, how access and inject this code to package org.springframework.cloud.openfeign.ribbon ?

[2022-10-10 04:33] dinhan2411 commented on #301
@rstoyanchev I'm using a java agent (opentelemetry java agent) to catch all traffic in, out my spring-boot app. It modifies header of websocket for tracing. Then I receive IllegalStateException. Do you know how to fix it?

My stack trace:
`Failed to handle GenericMessage [payload=byte[91], headers={simpMessageType=MESSAGE, nativeHeaders={foo=[bar], tracepFailed to handle GenericMessage [payload=by

[2022-11-22 07:27] sepala7 commented on #312
facing same issue